FILE@0..144
  FN@0..144
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..144
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      EXPR_LET@16..142
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_WILDCARD@20..22
          WildcardKeyword@20..21 "_"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_LET_VALUE@24..27
          EXPR_UNIT@24..27
            LParen@24..25 "("
            RParen@25..26 ")"
            Whitespace@26..27 " "
        InKeyword@27..29 "in"
        Whitespace@29..34 "\n    "
        EXPR_LET_BODY@34..142
          EXPR_LET@34..142
            LetKeyword@34..37 "let"
            Whitespace@37..38 " "
            PATTERN_VARIABLE@38..40
              Lident@38..39 "a"
              Whitespace@39..40 " "
            Eq@40..41 "="
            Whitespace@41..42 " "
            EXPR_LET_VALUE@42..71
              EXPR_TUPLE@42..71
                LParen@42..43 "("
                EXPR_BOOL@43..47
                  TrueKeyword@43..47 "true"
                Comma@47..48 ","
                Whitespace@48..49 " "
                EXPR_BOOL@49..54
                  FalseKeyword@49..54 "false"
                Comma@54..55 ","
                Whitespace@55..56 " "
                EXPR_TUPLE@56..69
                  LParen@56..57 "("
                  EXPR_BOOL@57..61
                    TrueKeyword@57..61 "true"
                  Comma@61..62 ","
                  Whitespace@62..63 " "
                  EXPR_BOOL@63..68
                    FalseKeyword@63..68 "false"
                  RParen@68..69 ")"
                RParen@69..70 ")"
                Whitespace@70..71 " "
            InKeyword@71..73 "in"
            Whitespace@73..78 "\n    "
            EXPR_LET_BODY@78..142
              EXPR_LET@78..142
                LetKeyword@78..81 "let"
                Whitespace@81..82 " "
                PATTERN_VARIABLE@82..84
                  Lident@82..83 "b"
                  Whitespace@83..84 " "
                Eq@84..85 "="
                Whitespace@85..86 " "
                EXPR_LET_VALUE@86..92
                  EXPR_BINARY@86..92
                    EXPR_BINARY@86..89
                      EXPR_LIDENT@86..87
                        Lident@86..87 "a"
                      Dot@87..88 "."
                      EXPR_INT@88..89
                        Int@88..89 "2"
                    Dot@89..90 "."
                    EXPR_INT@90..92
                      Int@90..91 "1"
                      Whitespace@91..92 " "
                InKeyword@92..94 "in"
                Whitespace@94..99 "\n    "
                EXPR_LET_BODY@99..142
                  EXPR_LET@99..142
                    LetKeyword@99..102 "let"
                    Whitespace@102..103 " "
                    PATTERN_WILDCARD@103..105
                      WildcardKeyword@103..104 "_"
                      Whitespace@104..105 " "
                    Eq@105..106 "="
                    Whitespace@106..107 " "
                    EXPR_LET_VALUE@107..132
                      EXPR_CALL@107..132
                        EXPR_LIDENT@107..112
                          Lident@107..112 "print"
                        ARG_LIST@112..132
                          LParen@112..113 "("
                          ARG@113..130
                            EXPR_CALL@113..130
                              EXPR_LIDENT@113..127
                                Lident@113..127 "bool_to_string"
                              ARG_LIST@127..130
                                LParen@127..128 "("
                                ARG@128..129
                                  EXPR_LIDENT@128..129
                                    Lident@128..129 "b"
                                RParen@129..130 ")"
                          RParen@130..131 ")"
                          Whitespace@131..132 " "
                    InKeyword@132..134 "in"
                    Whitespace@134..139 "\n    "
                    EXPR_LET_BODY@139..142
                      EXPR_UNIT@139..142
                        LParen@139..140 "("
                        RParen@140..141 ")"
                        Whitespace@141..142 "\n"
      RBrace@142..143 "}"
      Whitespace@143..144 "\n"