File@0..379
  EXPR_LET@0..379
    LetKeyword@0..3 "let"
    Whitespace@3..4 " "
    PATTERN_VARIABLE@4..6
      Lident@4..5 "a"
      Whitespace@5..6 " "
    Eq@6..7 "="
    Whitespace@7..8 " "
    EXPR_LET_VALUE@8..22
      EXPR_TUPLE@8..22
        LParen@8..9 "("
        EXPR_BOOL@9..13
          TrueKeyword@9..13 "true"
        Comma@13..14 ","
        Whitespace@14..15 " "
        EXPR_BOOL@15..20
          FalseKeyword@15..20 "false"
        RParen@20..21 ")"
        Whitespace@21..22 " "
    InKeyword@22..24 "in"
    Whitespace@24..25 "\n"
    EXPR_LET_BODY@25..379
      EXPR_LET@25..379
        LetKeyword@25..28 "let"
        Whitespace@28..29 " "
        PATTERN_VARIABLE@29..31
          Lident@29..30 "b"
          Whitespace@30..31 " "
        Eq@31..32 "="
        Whitespace@32..33 " "
        EXPR_LET_VALUE@33..189
          EXPR_MATCH@33..189
            MatchKeyword@33..38 "match"
            Whitespace@38..39 " "
            EXPR_LIDENT@39..41
              Lident@39..40 "a"
              Whitespace@40..41 " "
            MATCH_ARM_LIST@41..189
              LBrace@41..42 "{"
              Whitespace@42..47 "\n    "
              MATCH_ARM@47..77
                PATTERN_TUPLE@47..62
                  LParen@47..48 "("
                  PATTERN_BOOL@48..53
                    FalseKeyword@48..53 "false"
                  Comma@53..54 ","
                  Whitespace@54..55 " "
                  PATTERN_BOOL@55..60
                    FalseKeyword@55..60 "false"
                  RParen@60..61 ")"
                  Whitespace@61..62 " "
                FatArrow@62..64 "=>"
                Whitespace@64..65 " "
                EXPR_TUPLE@65..77
                  LParen@65..66 "("
                  EXPR_BOOL@66..70
                    TrueKeyword@66..70 "true"
                  Comma@70..71 ","
                  Whitespace@71..72 " "
                  EXPR_BOOL@72..76
                    TrueKeyword@72..76 "true"
                  RParen@76..77 ")"
              Comma@77..78 ","
              Whitespace@78..83 "\n    "
              MATCH_ARM@83..113
                PATTERN_TUPLE@83..97
                  LParen@83..84 "("
                  PATTERN_BOOL@84..89
                    FalseKeyword@84..89 "false"
                  Comma@89..90 ","
                  Whitespace@90..91 " "
                  PATTERN_BOOL@91..95
                    TrueKeyword@91..95 "true"
                  RParen@95..96 ")"
                  Whitespace@96..97 " "
                FatArrow@97..99 "=>"
                Whitespace@99..100 " "
                EXPR_TUPLE@100..113
                  LParen@100..101 "("
                  EXPR_BOOL@101..105
                    TrueKeyword@101..105 "true"
                  Comma@105..106 ","
                  Whitespace@106..107 " "
                  EXPR_BOOL@107..112
                    FalseKeyword@107..112 "false"
                  RParen@112..113 ")"
              Comma@113..114 ","
              Whitespace@114..119 "\n    "
              MATCH_ARM@119..149
                PATTERN_TUPLE@119..133
                  LParen@119..120 "("
                  PATTERN_BOOL@120..124
                    TrueKeyword@120..124 "true"
                  Comma@124..125 ","
                  Whitespace@125..126 " "
                  PATTERN_BOOL@126..131
                    FalseKeyword@126..131 "false"
                  RParen@131..132 ")"
                  Whitespace@132..133 " "
                FatArrow@133..135 "=>"
                Whitespace@135..136 " "
                EXPR_TUPLE@136..149
                  LParen@136..137 "("
                  EXPR_BOOL@137..142
                    FalseKeyword@137..142 "false"
                  Comma@142..143 ","
                  Whitespace@143..144 " "
                  EXPR_BOOL@144..148
                    TrueKeyword@144..148 "true"
                  RParen@148..149 ")"
              Comma@149..150 ","
              Whitespace@150..155 "\n    "
              MATCH_ARM@155..185
                PATTERN_TUPLE@155..168
                  LParen@155..156 "("
                  PATTERN_BOOL@156..160
                    TrueKeyword@156..160 "true"
                  Comma@160..161 ","
                  Whitespace@161..162 " "
                  PATTERN_BOOL@162..166
                    TrueKeyword@162..166 "true"
                  RParen@166..167 ")"
                  Whitespace@167..168 " "
                FatArrow@168..170 "=>"
                Whitespace@170..171 " "
                EXPR_TUPLE@171..185
                  LParen@171..172 "("
                  EXPR_BOOL@172..177
                    FalseKeyword@172..177 "false"
                  Comma@177..178 ","
                  Whitespace@178..179 " "
                  EXPR_BOOL@179..184
                    FalseKeyword@179..184 "false"
                  RParen@184..185 ")"
              Comma@185..186 ","
              Whitespace@186..187 "\n"
              RBrace@187..188 "}"
              Whitespace@188..189 " "
        InKeyword@189..191 "in"
        Whitespace@191..192 "\n"
        EXPR_LET_BODY@192..379
          EXPR_LET@192..379
            LetKeyword@192..195 "let"
            Whitespace@195..196 " "
            PATTERN_VARIABLE@196..198
              Lident@196..197 "c"
              Whitespace@197..198 " "
            Eq@198..199 "="
            Whitespace@199..200 " "
            EXPR_LET_VALUE@200..362
              EXPR_MATCH@200..362
                MatchKeyword@200..205 "match"
                Whitespace@205..206 " "
                EXPR_TUPLE@206..218
                  LParen@206..207 "("
                  EXPR_BOOL@207..211
                    TrueKeyword@207..211 "true"
                  Comma@211..212 ","
                  Whitespace@212..213 " "
                  EXPR_BINARY@213..216
                    EXPR_LIDENT@213..214
                      Lident@213..214 "b"
                    Dot@214..215 "."
                    EXPR_INT@215..216
                      Int32@215..216 "1"
                  RParen@216..217 ")"
                  Whitespace@217..218 " "
                MATCH_ARM_LIST@218..362
                  LBrace@218..219 "{"
                  Whitespace@219..224 "\n    "
                  MATCH_ARM@224..254
                    PATTERN_TUPLE@224..239
                      LParen@224..225 "("
                      PATTERN_BOOL@225..230
                        FalseKeyword@225..230 "false"
                      Comma@230..231 ","
                      Whitespace@231..232 " "
                      PATTERN_BOOL@232..237
                        FalseKeyword@232..237 "false"
                      RParen@237..238 ")"
                      Whitespace@238..239 " "
                    FatArrow@239..241 "=>"
                    Whitespace@241..242 " "
                    EXPR_CALL@242..254
                      EXPR_LIDENT@242..251
                        Lident@242..251 "print_int"
                      ARG_LIST@251..254
                        LParen@251..252 "("
                        ARG@252..253
                          EXPR_INT@252..253
                            Int32@252..253 "0"
                        RParen@253..254 ")"
                  Comma@254..255 ","
                  Whitespace@255..260 "\n    "
                  MATCH_ARM@260..289
                    PATTERN_TUPLE@260..274
                      LParen@260..261 "("
                      PATTERN_BOOL@261..266
                        FalseKeyword@261..266 "false"
                      Comma@266..267 ","
                      Whitespace@267..268 " "
                      PATTERN_BOOL@268..272
                        TrueKeyword@268..272 "true"
                      RParen@272..273 ")"
                      Whitespace@273..274 " "
                    FatArrow@274..276 "=>"
                    Whitespace@276..277 " "
                    EXPR_CALL@277..289
                      EXPR_LIDENT@277..286
                        Lident@277..286 "print_int"
                      ARG_LIST@286..289
                        LParen@286..287 "("
                        ARG@287..288
                          EXPR_INT@287..288
                            Int32@287..288 "1"
                        RParen@288..289 ")"
                  Comma@289..290 ","
                  Whitespace@290..295 "\n    "
                  MATCH_ARM@295..324
                    PATTERN_TUPLE@295..309
                      LParen@295..296 "("
                      PATTERN_BOOL@296..300
                        TrueKeyword@296..300 "true"
                      Comma@300..301 ","
                      Whitespace@301..302 " "
                      PATTERN_BOOL@302..307
                        FalseKeyword@302..307 "false"
                      RParen@307..308 ")"
                      Whitespace@308..309 " "
                    FatArrow@309..311 "=>"
                    Whitespace@311..312 " "
                    EXPR_CALL@312..324
                      EXPR_LIDENT@312..321
                        Lident@312..321 "print_int"
                      ARG_LIST@321..324
                        LParen@321..322 "("
                        ARG@322..323
                          EXPR_INT@322..323
                            Int32@322..323 "2"
                        RParen@323..324 ")"
                  Comma@324..325 ","
                  Whitespace@325..330 "\n    "
                  MATCH_ARM@330..358
                    PATTERN_TUPLE@330..343
                      LParen@330..331 "("
                      PATTERN_BOOL@331..335
                        TrueKeyword@331..335 "true"
                      Comma@335..336 ","
                      Whitespace@336..337 " "
                      PATTERN_BOOL@337..341
                        TrueKeyword@337..341 "true"
                      RParen@341..342 ")"
                      Whitespace@342..343 " "
                    FatArrow@343..345 "=>"
                    Whitespace@345..346 " "
                    EXPR_CALL@346..358
                      EXPR_LIDENT@346..355
                        Lident@346..355 "print_int"
                      ARG_LIST@355..358
                        LParen@355..356 "("
                        ARG@356..357
                          EXPR_INT@356..357
                            Int32@356..357 "3"
                        RParen@357..358 ")"
                  Comma@358..359 ","
                  Whitespace@359..360 "\n"
                  RBrace@360..361 "}"
                  Whitespace@361..362 "\n"
            InKeyword@362..364 "in"
            Whitespace@364..365 "\n"
            EXPR_LET_BODY@365..379
              EXPR_CALL@365..379
                EXPR_LIDENT@365..375
                  Lident@365..375 "print_unit"
                ARG_LIST@375..379
                  LParen@375..376 "("
                  ARG@376..377
                    EXPR_LIDENT@376..377
                      Lident@376..377 "c"
                  RParen@377..378 ")"
                  Whitespace@378..379 "\n"