FILE@0..146
  FN@0..146
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..146
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      EXPR_LET@16..144
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_WILDCARD@20..22
          WildcardKeyword@20..21 "_"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_LET_VALUE@24..39
          EXPR_CALL@24..39
            EXPR_LIDENT@24..34
              Lident@24..34 "print_unit"
            ARG_LIST@34..39
              LParen@34..35 "("
              ARG@35..37
                EXPR_UNIT@35..37
                  LParen@35..36 "("
                  RParen@36..37 ")"
              RParen@37..38 ")"
              Whitespace@38..39 " "
        InKeyword@39..41 "in"
        Whitespace@41..46 "\n    "
        EXPR_LET_BODY@46..144
          EXPR_LET@46..144
            LetKeyword@46..49 "let"
            Whitespace@49..50 " "
            PATTERN_WILDCARD@50..52
              WildcardKeyword@50..51 "_"
              Whitespace@51..52 " "
            Eq@52..53 "="
            Whitespace@53..54 " "
            EXPR_LET_VALUE@54..71
              EXPR_CALL@54..71
                EXPR_LIDENT@54..64
                  Lident@54..64 "print_bool"
                ARG_LIST@64..71
                  LParen@64..65 "("
                  ARG@65..69
                    EXPR_BOOL@65..69
                      TrueKeyword@65..69 "true"
                  RParen@69..70 ")"
                  Whitespace@70..71 " "
            InKeyword@71..73 "in"
            Whitespace@73..78 "\n    "
            EXPR_LET_BODY@78..144
              EXPR_LET@78..144
                LetKeyword@78..81 "let"
                Whitespace@81..82 " "
                PATTERN_WILDCARD@82..84
                  WildcardKeyword@82..83 "_"
                  Whitespace@83..84 " "
                Eq@84..85 "="
                Whitespace@85..86 " "
                EXPR_LET_VALUE@86..104
                  EXPR_CALL@86..104
                    EXPR_LIDENT@86..96
                      Lident@86..96 "print_bool"
                    ARG_LIST@96..104
                      LParen@96..97 "("
                      ARG@97..102
                        EXPR_BOOL@97..102
                          FalseKeyword@97..102 "false"
                      RParen@102..103 ")"
                      Whitespace@103..104 " "
                InKeyword@104..106 "in"
                Whitespace@106..111 "\n    "
                EXPR_LET_BODY@111..144
                  EXPR_LET@111..144
                    LetKeyword@111..114 "let"
                    Whitespace@114..115 " "
                    PATTERN_WILDCARD@115..117
                      WildcardKeyword@115..116 "_"
                      Whitespace@116..117 " "
                    Eq@117..118 "="
                    Whitespace@118..119 " "
                    EXPR_LET_VALUE@119..134
                      EXPR_CALL@119..134
                        EXPR_LIDENT@119..128
                          Lident@119..128 "print_int"
                        ARG_LIST@128..134
                          LParen@128..129 "("
                          ARG@129..132
                            EXPR_INT@129..132
                              Int32@129..132 "123"
                          RParen@132..133 ")"
                          Whitespace@133..134 " "
                    InKeyword@134..136 "in"
                    Whitespace@136..141 "\n    "
                    EXPR_LET_BODY@141..144
                      EXPR_UNIT@141..144
                        LParen@141..142 "("
                        RParen@142..143 ")"
                        Whitespace@143..144 "\n"
      RBrace@144..145 "}"
      Whitespace@145..146 "\n"