FILE@0..256
  ENUM@0..46
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..10 "Color"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..46
      VARIANT@17..20
        Uident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..31
        Uident@26..31 "Green"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      VARIANT@37..41
        Uident@37..41 "Blue"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  FN@46..256
    FnKeyword@46..48 "fn"
    Whitespace@48..49 " "
    Lident@49..53 "main"
    PARAM_LIST@53..56
      LParen@53..54 "("
      RParen@54..55 ")"
      Whitespace@55..56 " "
    BLOCK@56..256
      LBrace@56..57 "{"
      Whitespace@57..62 "\n    "
      EXPR_LET@62..254
        LetKeyword@62..65 "let"
        Whitespace@65..66 " "
        PATTERN_VARIABLE@66..68
          Lident@66..67 "a"
          Whitespace@67..68 " "
        Eq@68..69 "="
        Whitespace@69..70 " "
        EXPR_LET_VALUE@70..83
          EXPR_TUPLE@70..83
            LParen@70..71 "("
            EXPR_UIDENT@71..75
              Uident@71..75 "Blue"
            Comma@75..76 ","
            Whitespace@76..77 " "
            EXPR_UIDENT@77..81
              Uident@77..81 "Blue"
            RParen@81..82 ")"
            Whitespace@82..83 " "
        InKeyword@83..85 "in"
        Whitespace@85..90 "\n    "
        EXPR_LET_BODY@90..254
          EXPR_MATCH@90..254
            MatchKeyword@90..95 "match"
            Whitespace@95..96 " "
            EXPR_LIDENT@96..98
              Lident@96..97 "a"
              Whitespace@97..98 " "
            MATCH_ARM_LIST@98..254
              LBrace@98..99 "{"
              Whitespace@99..108 "\n        "
              MATCH_ARM@108..128
                PATTERN_TUPLE@108..121
                  LParen@108..109 "("
                  PATTERN_CONSTR@109..112
                    Uident@109..112 "Red"
                  Comma@112..113 ","
                  Whitespace@113..114 " "
                  PATTERN_CONSTR@114..119
                    Uident@114..119 "Green"
                  RParen@119..120 ")"
                  Whitespace@120..121 " "
                FatArrow@121..123 "=>"
                Whitespace@123..124 " "
                EXPR_BOOL@124..128
                  TrueKeyword@124..128 "true"
              Comma@128..129 ","
              Whitespace@129..138 "\n        "
              MATCH_ARM@138..156
                PATTERN_TUPLE@138..149
                  LParen@138..139 "("
                  PATTERN_CONSTR@139..142
                    Uident@139..142 "Red"
                  Comma@142..143 ","
                  Whitespace@143..144 " "
                  PATTERN_CONSTR@144..147
                    Uident@144..147 "Red"
                  RParen@147..148 ")"
                  Whitespace@148..149 " "
                FatArrow@149..151 "=>"
                Whitespace@151..152 " "
                EXPR_BOOL@152..156
                  TrueKeyword@152..156 "true"
              Comma@156..157 ","
              Whitespace@157..166 "\n        "
              MATCH_ARM@166..226
                PATTERN_TUPLE@166..179
                  LParen@166..167 "("
                  PATTERN_CONSTR@167..171
                    Uident@167..171 "Blue"
                  Comma@171..172 ","
                  Whitespace@172..173 " "
                  PATTERN_CONSTR@173..177
                    Uident@173..177 "Blue"
                  RParen@177..178 ")"
                  Whitespace@178..179 " "
                FatArrow@179..181 "=>"
                Whitespace@181..182 " "
                EXPR_LET@182..226
                  LetKeyword@182..185 "let"
                  Whitespace@185..186 " "
                  PATTERN_WILDCARD@186..188
                    WildcardKeyword@186..187 "_"
                    Whitespace@187..188 " "
                  Eq@188..189 "="
                  Whitespace@189..190 " "
                  EXPR_LET_VALUE@190..218
                    EXPR_CALL@190..218
                      EXPR_LIDENT@190..195
                        Lident@190..195 "print"
                      ARG_LIST@195..218
                        LParen@195..196 "("
                        ARG@196..216
                          EXPR_CALL@196..216
                            EXPR_LIDENT@196..210
                              Lident@196..210 "bool_to_string"
                            ARG_LIST@210..216
                              LParen@210..211 "("
                              ARG@211..215
                                EXPR_BOOL@211..215
                                  TrueKeyword@211..215 "true"
                              RParen@215..216 ")"
                        RParen@216..217 ")"
                        Whitespace@217..218 " "
                  InKeyword@218..220 "in"
                  Whitespace@220..221 " "
                  EXPR_LET_BODY@221..226
                    EXPR_BOOL@221..226
                      FalseKeyword@221..226 "false"
              Comma@226..227 ","
              Whitespace@227..236 "\n        "
              MATCH_ARM@236..246
                PATTERN_WILDCARD@236..238
                  WildcardKeyword@236..237 "_"
                  Whitespace@237..238 " "
                FatArrow@238..240 "=>"
                Whitespace@240..241 " "
                EXPR_BOOL@241..246
                  FalseKeyword@241..246 "false"
              Comma@246..247 ","
              Whitespace@247..252 "\n    "
              RBrace@252..253 "}"
              Whitespace@253..254 "\n"
      RBrace@254..255 "}"
      Whitespace@255..256 "\n"