FILE@0..202
  ENUM@0..45
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..10 "Color"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..45
      VARIANT@17..20
        Uident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..31
        Uident@26..31 "Green"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      VARIANT@37..41
        Uident@37..41 "Blue"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..45 "\n"
  EXPR_LET@45..202
    LetKeyword@45..48 "let"
    Whitespace@48..49 " "
    PATTERN_VARIABLE@49..51
      Lident@49..50 "a"
      Whitespace@50..51 " "
    Eq@51..52 "="
    Whitespace@52..53 " "
    EXPR_LET_VALUE@53..66
      EXPR_TUPLE@53..66
        LParen@53..54 "("
        EXPR_UIDENT@54..58
          Uident@54..58 "Blue"
        Comma@58..59 ","
        Whitespace@59..60 " "
        EXPR_UIDENT@60..64
          Uident@60..64 "Blue"
        RParen@64..65 ")"
        Whitespace@65..66 " "
    InKeyword@66..68 "in"
    Whitespace@68..69 "\n"
    EXPR_LET_BODY@69..202
      EXPR_MATCH@69..202
        MatchKeyword@69..74 "match"
        Whitespace@74..75 " "
        EXPR_LIDENT@75..77
          Lident@75..76 "a"
          Whitespace@76..77 " "
        MATCH_ARM_LIST@77..202
          LBrace@77..78 "{"
          Whitespace@78..83 "\n    "
          MATCH_ARM@83..103
            PATTERN_TUPLE@83..96
              LParen@83..84 "("
              PATTERN_CONSTR@84..87
                Uident@84..87 "Red"
              Comma@87..88 ","
              Whitespace@88..89 " "
              PATTERN_CONSTR@89..94
                Uident@89..94 "Green"
              RParen@94..95 ")"
              Whitespace@95..96 " "
            FatArrow@96..98 "=>"
            Whitespace@98..99 " "
            EXPR_BOOL@99..103
              TrueKeyword@99..103 "true"
          Comma@103..104 ","
          Whitespace@104..109 "\n    "
          MATCH_ARM@109..127
            PATTERN_TUPLE@109..120
              LParen@109..110 "("
              PATTERN_CONSTR@110..113
                Uident@110..113 "Red"
              Comma@113..114 ","
              Whitespace@114..115 " "
              PATTERN_CONSTR@115..118
                Uident@115..118 "Red"
              RParen@118..119 ")"
              Whitespace@119..120 " "
            FatArrow@120..122 "=>"
            Whitespace@122..123 " "
            EXPR_BOOL@123..127
              TrueKeyword@123..127 "true"
          Comma@127..128 ","
          Whitespace@128..133 "\n    "
          MATCH_ARM@133..182
            PATTERN_TUPLE@133..146
              LParen@133..134 "("
              PATTERN_CONSTR@134..138
                Uident@134..138 "Blue"
              Comma@138..139 ","
              Whitespace@139..140 " "
              PATTERN_CONSTR@140..144
                Uident@140..144 "Blue"
              RParen@144..145 ")"
              Whitespace@145..146 " "
            FatArrow@146..148 "=>"
            Whitespace@148..149 " "
            EXPR_LET@149..182
              LetKeyword@149..152 "let"
              Whitespace@152..153 " "
              PATTERN_WILDCARD@153..155
                WildcardKeyword@153..154 "_"
                Whitespace@154..155 " "
              Eq@155..156 "="
              Whitespace@156..157 " "
              EXPR_LET_VALUE@157..174
                EXPR_CALL@157..174
                  EXPR_LIDENT@157..167
                    Lident@157..167 "print_bool"
                  ARG_LIST@167..174
                    LParen@167..168 "("
                    ARG@168..172
                      EXPR_BOOL@168..172
                        TrueKeyword@168..172 "true"
                    RParen@172..173 ")"
                    Whitespace@173..174 " "
              InKeyword@174..176 "in"
              Whitespace@176..177 " "
              EXPR_LET_BODY@177..182
                EXPR_BOOL@177..182
                  FalseKeyword@177..182 "false"
          Comma@182..183 ","
          Whitespace@183..188 "\n    "
          MATCH_ARM@188..198
            PATTERN_WILDCARD@188..190
              WildcardKeyword@188..189 "_"
              Whitespace@189..190 " "
            FatArrow@190..192 "=>"
            Whitespace@192..193 " "
            EXPR_BOOL@193..198
              FalseKeyword@193..198 "false"
          Comma@198..199 ","
          Whitespace@199..200 "\n"
          RBrace@200..201 "}"
          Whitespace@201..202 "\n"