File@0..203
  EnumDef@0..45
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..10 "Color"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VariantList@17..45
      Variant@17..20
        Uident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      Variant@26..31
        Uident@26..31 "Green"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      Variant@37..41
        Uident@37..41 "Blue"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..45 "\n"
  ErrorTree@45..49
    LetKeyword@45..48 "let"
    Whitespace@48..49 " "
  ErrorTree@49..51
    Lident@49..50 "a"
    Whitespace@50..51 " "
  ErrorTree@51..53
    Eq@51..52 "="
    Whitespace@52..53 " "
  ErrorTree@53..54
    LParen@53..54 "("
  ErrorTree@54..58
    Uident@54..58 "Blue"
  ErrorTree@58..60
    Comma@58..59 ","
    Whitespace@59..60 " "
  ErrorTree@60..63
    Uident@60..63 "Red"
  ErrorTree@63..65
    RParen@63..64 ")"
    Whitespace@64..65 " "
  ErrorTree@65..68
    InKeyword@65..67 "in"
    Whitespace@67..68 "\n"
  ErrorTree@68..74
    MatchKeyword@68..73 "match"
    Whitespace@73..74 " "
  ErrorTree@74..76
    Lident@74..75 "a"
    Whitespace@75..76 " "
  ErrorTree@76..82
    LBrace@76..77 "{"
    Whitespace@77..82 "\n    "
  ErrorTree@82..83
    LParen@82..83 "("
  ErrorTree@83..86
    Uident@83..86 "Red"
  ErrorTree@86..88
    Comma@86..87 ","
    Whitespace@87..88 " "
  ErrorTree@88..93
    Uident@88..93 "Green"
  ErrorTree@93..95
    RParen@93..94 ")"
    Whitespace@94..95 " "
  ErrorTree@95..96
    Eq@95..96 "="
  ErrorTree@96..98
    Error@96..97 ">"
    Whitespace@97..98 " "
  ErrorTree@98..107
    Lident@98..107 "print_int"
  ErrorTree@107..108
    LParen@107..108 "("
  ErrorTree@108..109
    Int32@108..109 "0"
  ErrorTree@109..110
    RParen@109..110 ")"
  ErrorTree@110..116
    Comma@110..111 ","
    Whitespace@111..116 "\n    "
  ErrorTree@116..117
    LParen@116..117 "("
  ErrorTree@117..120
    Uident@117..120 "Red"
  ErrorTree@120..122
    Comma@120..121 ","
    Whitespace@121..122 " "
  ErrorTree@122..125
    Uident@122..125 "Red"
  ErrorTree@125..127
    RParen@125..126 ")"
    Whitespace@126..127 " "
  ErrorTree@127..128
    Eq@127..128 "="
  ErrorTree@128..130
    Error@128..129 ">"
    Whitespace@129..130 " "
  ErrorTree@130..139
    Lident@130..139 "print_int"
  ErrorTree@139..140
    LParen@139..140 "("
  ErrorTree@140..141
    Int32@140..141 "1"
  ErrorTree@141..142
    RParen@141..142 ")"
  ErrorTree@142..148
    Comma@142..143 ","
    Whitespace@143..148 "\n    "
  ErrorTree@148..149
    LParen@148..149 "("
  ErrorTree@149..153
    Uident@149..153 "Blue"
  ErrorTree@153..155
    Comma@153..154 ","
    Whitespace@154..155 " "
  ErrorTree@155..159
    Uident@155..159 "Blue"
  ErrorTree@159..161
    RParen@159..160 ")"
    Whitespace@160..161 " "
  ErrorTree@161..162
    Eq@161..162 "="
  ErrorTree@162..164
    Error@162..163 ">"
    Whitespace@163..164 " "
  ErrorTree@164..173
    Lident@164..173 "print_int"
  ErrorTree@173..174
    LParen@173..174 "("
  ErrorTree@174..175
    Int32@174..175 "2"
  ErrorTree@175..176
    RParen@175..176 ")"
  ErrorTree@176..182
    Comma@176..177 ","
    Whitespace@177..182 "\n    "
  ErrorTree@182..184
    Error@182..183 "_"
    Whitespace@183..184 " "
  ErrorTree@184..185
    Eq@184..185 "="
  ErrorTree@185..187
    Error@185..186 ">"
    Whitespace@186..187 " "
  ErrorTree@187..196
    Lident@187..196 "print_int"
  ErrorTree@196..197
    LParen@196..197 "("
  ErrorTree@197..198
    Int32@197..198 "3"
  ErrorTree@198..199
    RParen@198..199 ")"
  ErrorTree@199..201
    Comma@199..200 ","
    Whitespace@200..201 "\n"
  ErrorTree@201..203
    RBrace@201..202 "}"
    Whitespace@202..203 "\n"