FILE@0..203
  ENUM@0..45
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..10 "Color"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..45
      VARIANT@17..20
        Uident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..31
        Uident@26..31 "Green"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      VARIANT@37..41
        Uident@37..41 "Blue"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..45 "\n"
  EXPR_LET@45..203
    LetKeyword@45..48 "let"
    Whitespace@48..49 " "
    PATTERN_VARIABLE@49..51
      Lident@49..50 "a"
      Whitespace@50..51 " "
    Eq@51..52 "="
    Whitespace@52..53 " "
    EXPR_LET_VALUE@53..65
      EXPR_TUPLE@53..65
        LParen@53..54 "("
        EXPR_UIDENT@54..58
          Uident@54..58 "Blue"
        Comma@58..59 ","
        Whitespace@59..60 " "
        EXPR_UIDENT@60..63
          Uident@60..63 "Red"
        RParen@63..64 ")"
        Whitespace@64..65 " "
    InKeyword@65..67 "in"
    Whitespace@67..68 "\n"
    EXPR_LET_BODY@68..203
      EXPR_MATCH@68..203
        MatchKeyword@68..73 "match"
        Whitespace@73..74 " "
        EXPR_LIDENT@74..76
          Lident@74..75 "a"
          Whitespace@75..76 " "
        MATCH_ARM_LIST@76..203
          LBrace@76..77 "{"
          Whitespace@77..82 "\n    "
          MATCH_ARM@82..110
            PATTERN_TUPLE@82..95
              LParen@82..83 "("
              PATTERN_CONSTR@83..86
                Uident@83..86 "Red"
              Comma@86..87 ","
              Whitespace@87..88 " "
              PATTERN_CONSTR@88..93
                Uident@88..93 "Green"
              RParen@93..94 ")"
              Whitespace@94..95 " "
            FatArrow@95..97 "=>"
            Whitespace@97..98 " "
            EXPR_CALL@98..110
              EXPR_LIDENT@98..107
                Lident@98..107 "print_int"
              ARG_LIST@107..110
                LParen@107..108 "("
                ARG@108..109
                  EXPR_INT@108..109
                    Int32@108..109 "0"
                RParen@109..110 ")"
          Comma@110..111 ","
          Whitespace@111..116 "\n    "
          MATCH_ARM@116..142
            PATTERN_TUPLE@116..127
              LParen@116..117 "("
              PATTERN_CONSTR@117..120
                Uident@117..120 "Red"
              Comma@120..121 ","
              Whitespace@121..122 " "
              PATTERN_CONSTR@122..125
                Uident@122..125 "Red"
              RParen@125..126 ")"
              Whitespace@126..127 " "
            FatArrow@127..129 "=>"
            Whitespace@129..130 " "
            EXPR_CALL@130..142
              EXPR_LIDENT@130..139
                Lident@130..139 "print_int"
              ARG_LIST@139..142
                LParen@139..140 "("
                ARG@140..141
                  EXPR_INT@140..141
                    Int32@140..141 "1"
                RParen@141..142 ")"
          Comma@142..143 ","
          Whitespace@143..148 "\n    "
          MATCH_ARM@148..176
            PATTERN_TUPLE@148..161
              LParen@148..149 "("
              PATTERN_CONSTR@149..153
                Uident@149..153 "Blue"
              Comma@153..154 ","
              Whitespace@154..155 " "
              PATTERN_CONSTR@155..159
                Uident@155..159 "Blue"
              RParen@159..160 ")"
              Whitespace@160..161 " "
            FatArrow@161..163 "=>"
            Whitespace@163..164 " "
            EXPR_CALL@164..176
              EXPR_LIDENT@164..173
                Lident@164..173 "print_int"
              ARG_LIST@173..176
                LParen@173..174 "("
                ARG@174..175
                  EXPR_INT@174..175
                    Int32@174..175 "2"
                RParen@175..176 ")"
          Comma@176..177 ","
          Whitespace@177..182 "\n    "
          MATCH_ARM@182..199
            PATTERN_WILDCARD@182..184
              WildcardKeyword@182..183 "_"
              Whitespace@183..184 " "
            FatArrow@184..186 "=>"
            Whitespace@186..187 " "
            EXPR_CALL@187..199
              EXPR_LIDENT@187..196
                Lident@187..196 "print_int"
              ARG_LIST@196..199
                LParen@196..197 "("
                ARG@197..198
                  EXPR_INT@197..198
                    Int32@197..198 "3"
                RParen@198..199 ")"
          Comma@199..200 ","
          Whitespace@200..201 "\n"
          RBrace@201..202 "}"
          Whitespace@202..203 "\n"