FILE@0..290
  ENUM@0..46
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..10 "Color"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..46
      VARIANT@17..20
        Uident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..31
        Uident@26..31 "Green"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      VARIANT@37..41
        Uident@37..41 "Blue"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  FN@46..290
    FnKeyword@46..48 "fn"
    Whitespace@48..49 " "
    Lident@49..53 "main"
    PARAM_LIST@53..56
      LParen@53..54 "("
      RParen@54..55 ")"
      Whitespace@55..56 " "
    BLOCK@56..290
      LBrace@56..57 "{"
      Whitespace@57..62 "\n    "
      EXPR_LET@62..288
        LetKeyword@62..65 "let"
        Whitespace@65..66 " "
        PATTERN_VARIABLE@66..68
          Lident@66..67 "a"
          Whitespace@67..68 " "
        Eq@68..69 "="
        Whitespace@69..70 " "
        EXPR_LET_VALUE@70..82
          EXPR_TUPLE@70..82
            LParen@70..71 "("
            EXPR_UIDENT@71..75
              Uident@71..75 "Blue"
            Comma@75..76 ","
            Whitespace@76..77 " "
            EXPR_UIDENT@77..80
              Uident@77..80 "Red"
            RParen@80..81 ")"
            Whitespace@81..82 " "
        InKeyword@82..84 "in"
        Whitespace@84..89 "\n    "
        EXPR_LET_BODY@89..288
          EXPR_MATCH@89..288
            MatchKeyword@89..94 "match"
            Whitespace@94..95 " "
            EXPR_LIDENT@95..97
              Lident@95..96 "a"
              Whitespace@96..97 " "
            MATCH_ARM_LIST@97..288
              LBrace@97..98 "{"
              Whitespace@98..107 "\n        "
              MATCH_ARM@107..146
                PATTERN_TUPLE@107..120
                  LParen@107..108 "("
                  PATTERN_CONSTR@108..111
                    Uident@108..111 "Red"
                  Comma@111..112 ","
                  Whitespace@112..113 " "
                  PATTERN_CONSTR@113..118
                    Uident@113..118 "Green"
                  RParen@118..119 ")"
                  Whitespace@119..120 " "
                FatArrow@120..122 "=>"
                Whitespace@122..123 " "
                EXPR_CALL@123..146
                  EXPR_LIDENT@123..128
                    Lident@123..128 "print"
                  ARG_LIST@128..146
                    LParen@128..129 "("
                    ARG@129..145
                      EXPR_CALL@129..145
                        EXPR_LIDENT@129..142
                          Lident@129..142 "int_to_string"
                        ARG_LIST@142..145
                          LParen@142..143 "("
                          ARG@143..144
                            EXPR_INT@143..144
                              Int@143..144 "0"
                          RParen@144..145 ")"
                    RParen@145..146 ")"
              Comma@146..147 ","
              Whitespace@147..156 "\n        "
              MATCH_ARM@156..193
                PATTERN_TUPLE@156..167
                  LParen@156..157 "("
                  PATTERN_CONSTR@157..160
                    Uident@157..160 "Red"
                  Comma@160..161 ","
                  Whitespace@161..162 " "
                  PATTERN_CONSTR@162..165
                    Uident@162..165 "Red"
                  RParen@165..166 ")"
                  Whitespace@166..167 " "
                FatArrow@167..169 "=>"
                Whitespace@169..170 " "
                EXPR_CALL@170..193
                  EXPR_LIDENT@170..175
                    Lident@170..175 "print"
                  ARG_LIST@175..193
                    LParen@175..176 "("
                    ARG@176..192
                      EXPR_CALL@176..192
                        EXPR_LIDENT@176..189
                          Lident@176..189 "int_to_string"
                        ARG_LIST@189..192
                          LParen@189..190 "("
                          ARG@190..191
                            EXPR_INT@190..191
                              Int@190..191 "1"
                          RParen@191..192 ")"
                    RParen@192..193 ")"
              Comma@193..194 ","
              Whitespace@194..203 "\n        "
              MATCH_ARM@203..242
                PATTERN_TUPLE@203..216
                  LParen@203..204 "("
                  PATTERN_CONSTR@204..208
                    Uident@204..208 "Blue"
                  Comma@208..209 ","
                  Whitespace@209..210 " "
                  PATTERN_CONSTR@210..214
                    Uident@210..214 "Blue"
                  RParen@214..215 ")"
                  Whitespace@215..216 " "
                FatArrow@216..218 "=>"
                Whitespace@218..219 " "
                EXPR_CALL@219..242
                  EXPR_LIDENT@219..224
                    Lident@219..224 "print"
                  ARG_LIST@224..242
                    LParen@224..225 "("
                    ARG@225..241
                      EXPR_CALL@225..241
                        EXPR_LIDENT@225..238
                          Lident@225..238 "int_to_string"
                        ARG_LIST@238..241
                          LParen@238..239 "("
                          ARG@239..240
                            EXPR_INT@239..240
                              Int@239..240 "2"
                          RParen@240..241 ")"
                    RParen@241..242 ")"
              Comma@242..243 ","
              Whitespace@243..252 "\n        "
              MATCH_ARM@252..280
                PATTERN_WILDCARD@252..254
                  WildcardKeyword@252..253 "_"
                  Whitespace@253..254 " "
                FatArrow@254..256 "=>"
                Whitespace@256..257 " "
                EXPR_CALL@257..280
                  EXPR_LIDENT@257..262
                    Lident@257..262 "print"
                  ARG_LIST@262..280
                    LParen@262..263 "("
                    ARG@263..279
                      EXPR_CALL@263..279
                        EXPR_LIDENT@263..276
                          Lident@263..276 "int_to_string"
                        ARG_LIST@276..279
                          LParen@276..277 "("
                          ARG@277..278
                            EXPR_INT@277..278
                              Int@277..278 "3"
                          RParen@278..279 ")"
                    RParen@279..280 ")"
              Comma@280..281 ","
              Whitespace@281..286 "\n    "
              RBrace@286..287 "}"
              Whitespace@287..288 "\n"
      RBrace@288..289 "}"
      Whitespace@289..290 "\n"