FILE@0..250
  FN@0..250
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..250
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      EXPR_LET@16..248
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Lident@20..21 "a"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_LET_VALUE@24..38
          EXPR_TUPLE@24..38
            LParen@24..25 "("
            EXPR_BOOL@25..29
              TrueKeyword@25..29 "true"
            Comma@29..30 ","
            Whitespace@30..31 " "
            EXPR_BOOL@31..36
              FalseKeyword@31..36 "false"
            RParen@36..37 ")"
            Whitespace@37..38 " "
        InKeyword@38..40 "in"
        Whitespace@40..45 "\n    "
        EXPR_LET_BODY@45..248
          EXPR_LET@45..248
            LetKeyword@45..48 "let"
            Whitespace@48..49 " "
            PATTERN_WILDCARD@49..51
              WildcardKeyword@49..50 "_"
              Whitespace@50..51 " "
            Eq@51..52 "="
            Whitespace@52..53 " "
            EXPR_LET_VALUE@53..133
              EXPR_MATCH@53..133
                MatchKeyword@53..58 "match"
                Whitespace@58..59 " "
                EXPR_LIDENT@59..61
                  Lident@59..60 "a"
                  Whitespace@60..61 " "
                MATCH_ARM_LIST@61..133
                  LBrace@61..62 "{"
                  Whitespace@62..71 "\n        "
                  MATCH_ARM@71..108
                    PATTERN_TUPLE@71..81
                      LParen@71..72 "("
                      PATTERN_BOOL@72..76
                        TrueKeyword@72..76 "true"
                      Comma@76..77 ","
                      Whitespace@77..78 " "
                      PATTERN_VARIABLE@78..79
                        Lident@78..79 "b"
                      RParen@79..80 ")"
                      Whitespace@80..81 " "
                    FatArrow@81..83 "=>"
                    Whitespace@83..84 " "
                    EXPR_CALL@84..108
                      EXPR_LIDENT@84..89
                        Lident@84..89 "print"
                      ARG_LIST@89..108
                        LParen@89..90 "("
                        ARG@90..107
                          EXPR_CALL@90..107
                            EXPR_LIDENT@90..104
                              Lident@90..104 "bool_to_string"
                            ARG_LIST@104..107
                              LParen@104..105 "("
                              ARG@105..106
                                EXPR_LIDENT@105..106
                                  Lident@105..106 "b"
                              RParen@106..107 ")"
                        RParen@107..108 ")"
                  Comma@108..109 ","
                  Whitespace@109..118 "\n        "
                  MATCH_ARM@118..125
                    PATTERN_WILDCARD@118..120
                      WildcardKeyword@118..119 "_"
                      Whitespace@119..120 " "
                    FatArrow@120..122 "=>"
                    Whitespace@122..123 " "
                    EXPR_UNIT@123..125
                      LParen@123..124 "("
                      RParen@124..125 ")"
                  Comma@125..126 ","
                  Whitespace@126..131 "\n    "
                  RBrace@131..132 "}"
                  Whitespace@132..133 " "
            InKeyword@133..135 "in"
            Whitespace@135..140 "\n    "
            EXPR_LET_BODY@140..248
              EXPR_LET@140..248
                LetKeyword@140..143 "let"
                Whitespace@143..144 " "
                PATTERN_VARIABLE@144..146
                  Lident@144..145 "c"
                  Whitespace@145..146 " "
                Eq@146..147 "="
                Whitespace@147..148 " "
                EXPR_LET_VALUE@148..161
                  EXPR_TUPLE@148..161
                    LParen@148..149 "("
                    EXPR_BOOL@149..153
                      TrueKeyword@149..153 "true"
                    Comma@153..154 ","
                    Whitespace@154..155 " "
                    EXPR_BOOL@155..159
                      TrueKeyword@155..159 "true"
                    RParen@159..160 ")"
                    Whitespace@160..161 " "
                InKeyword@161..163 "in"
                Whitespace@163..168 "\n    "
                EXPR_LET_BODY@168..248
                  EXPR_MATCH@168..248
                    MatchKeyword@168..173 "match"
                    Whitespace@173..174 " "
                    EXPR_LIDENT@174..176
                      Lident@174..175 "c"
                      Whitespace@175..176 " "
                    MATCH_ARM_LIST@176..248
                      LBrace@176..177 "{"
                      Whitespace@177..186 "\n        "
                      MATCH_ARM@186..223
                        PATTERN_TUPLE@186..196
                          LParen@186..187 "("
                          PATTERN_BOOL@187..191
                            TrueKeyword@187..191 "true"
                          Comma@191..192 ","
                          Whitespace@192..193 " "
                          PATTERN_VARIABLE@193..194
                            Lident@193..194 "d"
                          RParen@194..195 ")"
                          Whitespace@195..196 " "
                        FatArrow@196..198 "=>"
                        Whitespace@198..199 " "
                        EXPR_CALL@199..223
                          EXPR_LIDENT@199..204
                            Lident@199..204 "print"
                          ARG_LIST@204..223
                            LParen@204..205 "("
                            ARG@205..222
                              EXPR_CALL@205..222
                                EXPR_LIDENT@205..219
                                  Lident@205..219 "bool_to_string"
                                ARG_LIST@219..222
                                  LParen@219..220 "("
                                  ARG@220..221
                                    EXPR_LIDENT@220..221
                                      Lident@220..221 "d"
                                  RParen@221..222 ")"
                            RParen@222..223 ")"
                      Comma@223..224 ","
                      Whitespace@224..233 "\n        "
                      MATCH_ARM@233..240
                        PATTERN_WILDCARD@233..235
                          WildcardKeyword@233..234 "_"
                          Whitespace@234..235 " "
                        FatArrow@235..237 "=>"
                        Whitespace@237..238 " "
                        EXPR_UNIT@238..240
                          LParen@238..239 "("
                          RParen@239..240 ")"
                      Comma@240..241 ","
                      Whitespace@241..246 "\n    "
                      RBrace@246..247 "}"
                      Whitespace@247..248 "\n"
      RBrace@248..249 "}"
      Whitespace@249..250 "\n"