FILE@0..174
  EXPR_LET@0..174
    LetKeyword@0..3 "let"
    Whitespace@3..4 " "
    PATTERN_VARIABLE@4..6
      Lident@4..5 "a"
      Whitespace@5..6 " "
    Eq@6..7 "="
    Whitespace@7..8 " "
    EXPR_LET_VALUE@8..22
      EXPR_TUPLE@8..22
        LParen@8..9 "("
        EXPR_BOOL@9..13
          TrueKeyword@9..13 "true"
        Comma@13..14 ","
        Whitespace@14..15 " "
        EXPR_BOOL@15..20
          FalseKeyword@15..20 "false"
        RParen@20..21 ")"
        Whitespace@21..22 " "
    InKeyword@22..24 "in"
    Whitespace@24..25 "\n"
    EXPR_LET_BODY@25..174
      EXPR_LET@25..174
        LetKeyword@25..28 "let"
        Whitespace@28..29 " "
        PATTERN_WILDCARD@29..31
          WildcardKeyword@29..30 "_"
          Whitespace@30..31 " "
        Eq@31..32 "="
        Whitespace@32..33 " "
        EXPR_LET_VALUE@33..90
          EXPR_MATCH@33..90
            MatchKeyword@33..38 "match"
            Whitespace@38..39 " "
            EXPR_LIDENT@39..41
              Lident@39..40 "a"
              Whitespace@40..41 " "
            MATCH_ARM_LIST@41..90
              LBrace@41..42 "{"
              Whitespace@42..47 "\n    "
              MATCH_ARM@47..73
                PATTERN_TUPLE@47..57
                  LParen@47..48 "("
                  PATTERN_BOOL@48..52
                    TrueKeyword@48..52 "true"
                  Comma@52..53 ","
                  Whitespace@53..54 " "
                  PATTERN_VARIABLE@54..55
                    Lident@54..55 "b"
                  RParen@55..56 ")"
                  Whitespace@56..57 " "
                FatArrow@57..59 "=>"
                Whitespace@59..60 " "
                EXPR_CALL@60..73
                  EXPR_LIDENT@60..70
                    Lident@60..70 "print_bool"
                  ARG_LIST@70..73
                    LParen@70..71 "("
                    ARG@71..72
                      EXPR_LIDENT@71..72
                        Lident@71..72 "b"
                    RParen@72..73 ")"
              Comma@73..74 ","
              Whitespace@74..79 "\n    "
              MATCH_ARM@79..86
                PATTERN_WILDCARD@79..81
                  WildcardKeyword@79..80 "_"
                  Whitespace@80..81 " "
                FatArrow@81..83 "=>"
                Whitespace@83..84 " "
                EXPR_UNIT@84..86
                  LParen@84..85 "("
                  RParen@85..86 ")"
              Comma@86..87 ","
              Whitespace@87..88 "\n"
              RBrace@88..89 "}"
              Whitespace@89..90 " "
        InKeyword@90..92 "in"
        Whitespace@92..93 "\n"
        EXPR_LET_BODY@93..174
          EXPR_LET@93..174
            LetKeyword@93..96 "let"
            Whitespace@96..97 " "
            PATTERN_VARIABLE@97..99
              Lident@97..98 "c"
              Whitespace@98..99 " "
            Eq@99..100 "="
            Whitespace@100..101 " "
            EXPR_LET_VALUE@101..114
              EXPR_TUPLE@101..114
                LParen@101..102 "("
                EXPR_BOOL@102..106
                  TrueKeyword@102..106 "true"
                Comma@106..107 ","
                Whitespace@107..108 " "
                EXPR_BOOL@108..112
                  TrueKeyword@108..112 "true"
                RParen@112..113 ")"
                Whitespace@113..114 " "
            InKeyword@114..116 "in"
            Whitespace@116..117 "\n"
            EXPR_LET_BODY@117..174
              EXPR_MATCH@117..174
                MatchKeyword@117..122 "match"
                Whitespace@122..123 " "
                EXPR_LIDENT@123..125
                  Lident@123..124 "c"
                  Whitespace@124..125 " "
                MATCH_ARM_LIST@125..174
                  LBrace@125..126 "{"
                  Whitespace@126..131 "\n    "
                  MATCH_ARM@131..157
                    PATTERN_TUPLE@131..141
                      LParen@131..132 "("
                      PATTERN_BOOL@132..136
                        TrueKeyword@132..136 "true"
                      Comma@136..137 ","
                      Whitespace@137..138 " "
                      PATTERN_VARIABLE@138..139
                        Lident@138..139 "d"
                      RParen@139..140 ")"
                      Whitespace@140..141 " "
                    FatArrow@141..143 "=>"
                    Whitespace@143..144 " "
                    EXPR_CALL@144..157
                      EXPR_LIDENT@144..154
                        Lident@144..154 "print_bool"
                      ARG_LIST@154..157
                        LParen@154..155 "("
                        ARG@155..156
                          EXPR_LIDENT@155..156
                            Lident@155..156 "d"
                        RParen@156..157 ")"
                  Comma@157..158 ","
                  Whitespace@158..163 "\n    "
                  MATCH_ARM@163..170
                    PATTERN_WILDCARD@163..165
                      WildcardKeyword@163..164 "_"
                      Whitespace@164..165 " "
                    FatArrow@165..167 "=>"
                    Whitespace@167..168 " "
                    EXPR_UNIT@168..170
                      LParen@168..169 "("
                      RParen@169..170 ")"
                  Comma@170..171 ","
                  Whitespace@171..172 "\n"
                  RBrace@172..173 "}"
                  Whitespace@173..174 "\n"