FILE@0..415
  ENUM@0..83
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..9 "Expr"
    Whitespace@9..10 " "
    LBrace@10..11 "{"
    Whitespace@11..16 "\n    "
    VARIANT_LIST@16..83
      VARIANT@16..20
        Uident@16..20 "Zero"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..36
        Uident@26..30 "Succ"
        TYPE_LIST@30..36
          LParen@30..31 "("
          TYPE_ENUM@31..35
            Uident@31..35 "Expr"
          RParen@35..36 ")"
      Comma@36..37 ","
      Whitespace@37..42 "\n    "
      VARIANT@42..57
        Uident@42..45 "Add"
        TYPE_LIST@45..57
          LParen@45..46 "("
          TYPE_ENUM@46..50
            Uident@46..50 "Expr"
          Comma@50..51 ","
          Whitespace@51..52 " "
          TYPE_ENUM@52..56
            Uident@52..56 "Expr"
          RParen@56..57 ")"
      Comma@57..58 ","
      Whitespace@58..63 "\n    "
      VARIANT@63..78
        Uident@63..66 "Mul"
        TYPE_LIST@66..78
          LParen@66..67 "("
          TYPE_ENUM@67..71
            Uident@67..71 "Expr"
          Comma@71..72 ","
          Whitespace@72..73 " "
          TYPE_ENUM@73..77
            Uident@73..77 "Expr"
          RParen@77..78 ")"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..415
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Lident@86..90 "main"
    PARAM_LIST@90..93
      LParen@90..91 "("
      RParen@91..92 ")"
      Whitespace@92..93 " "
    BLOCK@93..415
      LBrace@93..94 "{"
      Whitespace@94..99 "\n    "
      EXPR_LET@99..414
        LetKeyword@99..102 "let"
        Whitespace@102..103 " "
        PATTERN_VARIABLE@103..105
          Lident@103..104 "a"
          Whitespace@104..105 " "
        Eq@105..106 "="
        Whitespace@106..107 " "
        EXPR_LET_VALUE@107..132
          EXPR_CALL@107..132
            EXPR_UIDENT@107..110
              Uident@107..110 "Mul"
            ARG_LIST@110..132
              LParen@110..111 "("
              ARG@111..126
                EXPR_CALL@111..125
                  EXPR_UIDENT@111..114
                    Uident@111..114 "Add"
                  ARG_LIST@114..125
                    LParen@114..115 "("
                    ARG@115..120
                      EXPR_UIDENT@115..119
                        Uident@115..119 "Zero"
                      Comma@119..120 ","
                    ARG@120..124
                      EXPR_UIDENT@120..124
                        Uident@120..124 "Zero"
                    RParen@124..125 ")"
                Comma@125..126 ","
              ARG@126..130
                EXPR_UIDENT@126..130
                  Uident@126..130 "Zero"
              RParen@130..131 ")"
              Whitespace@131..132 " "
        InKeyword@132..134 "in"
        Whitespace@134..139 "\n    "
        EXPR_LET_BODY@139..414
          EXPR_MATCH@139..414
            MatchKeyword@139..144 "match"
            Whitespace@144..145 " "
            EXPR_LIDENT@145..147
              Lident@145..146 "a"
              Whitespace@146..147 " "
            MATCH_ARM_LIST@147..414
              LBrace@147..148 "{"
              Whitespace@148..157 "\n        "
              MATCH_ARM@157..187
                PATTERN_CONSTR@157..172
                  Uident@157..160 "Add"
                  LParen@160..161 "("
                  PATTERN_CONSTR@161..165
                    Uident@161..165 "Zero"
                  Comma@165..166 ","
                  PATTERN_CONSTR@166..170
                    Uident@166..170 "Zero"
                  RParen@170..171 ")"
                  Whitespace@171..172 " "
                FatArrow@172..174 "=>"
                Whitespace@174..175 " "
                EXPR_CALL@175..187
                  EXPR_LIDENT@175..184
                    Lident@175..184 "print_int"
                  ARG_LIST@184..187
                    LParen@184..185 "("
                    ARG@185..186
                      EXPR_INT@185..186
                        Int32@185..186 "0"
                    RParen@186..187 ")"
              Comma@187..188 ","
              Whitespace@188..197 "\n        "
              MATCH_ARM@197..224
                PATTERN_CONSTR@197..209
                  Uident@197..200 "Mul"
                  LParen@200..201 "("
                  PATTERN_CONSTR@201..205
                    Uident@201..205 "Zero"
                  Comma@205..206 ","
                  PATTERN_VARIABLE@206..207
                    Lident@206..207 "x"
                  RParen@207..208 ")"
                  Whitespace@208..209 " "
                FatArrow@209..211 "=>"
                Whitespace@211..212 " "
                EXPR_CALL@212..224
                  EXPR_LIDENT@212..221
                    Lident@212..221 "print_int"
                  ARG_LIST@221..224
                    LParen@221..222 "("
                    ARG@222..223
                      EXPR_INT@222..223
                        Int32@222..223 "1"
                    RParen@223..224 ")"
              Comma@224..225 ","
              Whitespace@225..234 "\n        "
              MATCH_ARM@234..264
                PATTERN_CONSTR@234..249
                  Uident@234..237 "Add"
                  LParen@237..238 "("
                  PATTERN_CONSTR@238..245
                    Uident@238..242 "Succ"
                    LParen@242..243 "("
                    PATTERN_VARIABLE@243..244
                      Lident@243..244 "x"
                    RParen@244..245 ")"
                  Comma@245..246 ","
                  PATTERN_VARIABLE@246..247
                    Lident@246..247 "y"
                  RParen@247..248 ")"
                  Whitespace@248..249 " "
                FatArrow@249..251 "=>"
                Whitespace@251..252 " "
                EXPR_CALL@252..264
                  EXPR_LIDENT@252..261
                    Lident@252..261 "print_int"
                  ARG_LIST@261..264
                    LParen@261..262 "("
                    ARG@262..263
                      EXPR_INT@262..263
                        Int32@262..263 "2"
                    RParen@263..264 ")"
              Comma@264..265 ","
              Whitespace@265..274 "\n        "
              MATCH_ARM@274..301
                PATTERN_CONSTR@274..286
                  Uident@274..277 "Mul"
                  LParen@277..278 "("
                  PATTERN_VARIABLE@278..279
                    Lident@278..279 "x"
                  Comma@279..280 ","
                  PATTERN_CONSTR@280..284
                    Uident@280..284 "Zero"
                  RParen@284..285 ")"
                  Whitespace@285..286 " "
                FatArrow@286..288 "=>"
                Whitespace@288..289 " "
                EXPR_CALL@289..301
                  EXPR_LIDENT@289..298
                    Lident@289..298 "print_int"
                  ARG_LIST@298..301
                    LParen@298..299 "("
                    ARG@299..300
                      EXPR_INT@299..300
                        Int32@299..300 "3"
                    RParen@300..301 ")"
              Comma@301..302 ","
              Whitespace@302..311 "\n        "
              MATCH_ARM@311..342
                PATTERN_CONSTR@311..327
                  Uident@311..314 "Mul"
                  LParen@314..315 "("
                  PATTERN_CONSTR@315..323
                    Uident@315..318 "Add"
                    LParen@318..319 "("
                    PATTERN_VARIABLE@319..320
                      Lident@319..320 "x"
                    Comma@320..321 ","
                    PATTERN_VARIABLE@321..322
                      Lident@321..322 "y"
                    RParen@322..323 ")"
                  Comma@323..324 ","
                  PATTERN_VARIABLE@324..325
                    Lident@324..325 "z"
                  RParen@325..326 ")"
                  Whitespace@326..327 " "
                FatArrow@327..329 "=>"
                Whitespace@329..330 " "
                EXPR_CALL@330..342
                  EXPR_LIDENT@330..339
                    Lident@330..339 "print_int"
                  ARG_LIST@339..342
                    LParen@339..340 "("
                    ARG@340..341
                      EXPR_INT@340..341
                        Int32@340..341 "4"
                    RParen@341..342 ")"
              Comma@342..343 ","
              Whitespace@343..352 "\n        "
              MATCH_ARM@352..379
                PATTERN_CONSTR@352..364
                  Uident@352..355 "Add"
                  LParen@355..356 "("
                  PATTERN_VARIABLE@356..357
                    Lident@356..357 "x"
                  Comma@357..358 ","
                  PATTERN_CONSTR@358..362
                    Uident@358..362 "Zero"
                  RParen@362..363 ")"
                  Whitespace@363..364 " "
                FatArrow@364..366 "=>"
                Whitespace@366..367 " "
                EXPR_CALL@367..379
                  EXPR_LIDENT@367..376
                    Lident@367..376 "print_int"
                  ARG_LIST@376..379
                    LParen@376..377 "("
                    ARG@377..378
                      EXPR_INT@377..378
                        Int32@377..378 "5"
                    RParen@378..379 ")"
              Comma@379..380 ","
              Whitespace@380..389 "\n        "
              MATCH_ARM@389..406
                PATTERN_VARIABLE@389..391
                  Lident@389..390 "x"
                  Whitespace@390..391 " "
                FatArrow@391..393 "=>"
                Whitespace@393..394 " "
                EXPR_CALL@394..406
                  EXPR_LIDENT@394..403
                    Lident@394..403 "print_int"
                  ARG_LIST@403..406
                    LParen@403..404 "("
                    ARG@404..405
                      EXPR_INT@404..405
                        Int32@404..405 "6"
                    RParen@405..406 ")"
              Comma@406..407 ","
              Whitespace@407..412 "\n    "
              RBrace@412..413 "}"
              Whitespace@413..414 "\n"
      RBrace@414..415 "}"