FILE@0..492
  ENUM@0..83
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..9 "Expr"
    Whitespace@9..10 " "
    LBrace@10..11 "{"
    Whitespace@11..16 "\n    "
    VARIANT_LIST@16..83
      VARIANT@16..20
        Uident@16..20 "Zero"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..36
        Uident@26..30 "Succ"
        TYPE_LIST@30..36
          LParen@30..31 "("
          TYPE_ENUM@31..35
            Uident@31..35 "Expr"
          RParen@35..36 ")"
      Comma@36..37 ","
      Whitespace@37..42 "\n    "
      VARIANT@42..57
        Uident@42..45 "Add"
        TYPE_LIST@45..57
          LParen@45..46 "("
          TYPE_ENUM@46..50
            Uident@46..50 "Expr"
          Comma@50..51 ","
          Whitespace@51..52 " "
          TYPE_ENUM@52..56
            Uident@52..56 "Expr"
          RParen@56..57 ")"
      Comma@57..58 ","
      Whitespace@58..63 "\n    "
      VARIANT@63..78
        Uident@63..66 "Mul"
        TYPE_LIST@66..78
          LParen@66..67 "("
          TYPE_ENUM@67..71
            Uident@67..71 "Expr"
          Comma@71..72 ","
          Whitespace@72..73 " "
          TYPE_ENUM@73..77
            Uident@73..77 "Expr"
          RParen@77..78 ")"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..492
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Lident@86..90 "main"
    PARAM_LIST@90..93
      LParen@90..91 "("
      RParen@91..92 ")"
      Whitespace@92..93 " "
    BLOCK@93..492
      LBrace@93..94 "{"
      Whitespace@94..99 "\n    "
      EXPR_LET@99..491
        LetKeyword@99..102 "let"
        Whitespace@102..103 " "
        PATTERN_VARIABLE@103..105
          Lident@103..104 "a"
          Whitespace@104..105 " "
        Eq@105..106 "="
        Whitespace@106..107 " "
        EXPR_LET_VALUE@107..132
          EXPR_CALL@107..132
            EXPR_UIDENT@107..110
              Uident@107..110 "Mul"
            ARG_LIST@110..132
              LParen@110..111 "("
              ARG@111..126
                EXPR_CALL@111..125
                  EXPR_UIDENT@111..114
                    Uident@111..114 "Add"
                  ARG_LIST@114..125
                    LParen@114..115 "("
                    ARG@115..120
                      EXPR_UIDENT@115..119
                        Uident@115..119 "Zero"
                      Comma@119..120 ","
                    ARG@120..124
                      EXPR_UIDENT@120..124
                        Uident@120..124 "Zero"
                    RParen@124..125 ")"
                Comma@125..126 ","
              ARG@126..130
                EXPR_UIDENT@126..130
                  Uident@126..130 "Zero"
              RParen@130..131 ")"
              Whitespace@131..132 " "
        InKeyword@132..134 "in"
        Whitespace@134..139 "\n    "
        EXPR_LET_BODY@139..491
          EXPR_MATCH@139..491
            MatchKeyword@139..144 "match"
            Whitespace@144..145 " "
            EXPR_LIDENT@145..147
              Lident@145..146 "a"
              Whitespace@146..147 " "
            MATCH_ARM_LIST@147..491
              LBrace@147..148 "{"
              Whitespace@148..157 "\n        "
              MATCH_ARM@157..198
                PATTERN_CONSTR@157..172
                  Uident@157..160 "Add"
                  LParen@160..161 "("
                  PATTERN_CONSTR@161..165
                    Uident@161..165 "Zero"
                  Comma@165..166 ","
                  PATTERN_CONSTR@166..170
                    Uident@166..170 "Zero"
                  RParen@170..171 ")"
                  Whitespace@171..172 " "
                FatArrow@172..174 "=>"
                Whitespace@174..175 " "
                EXPR_CALL@175..198
                  EXPR_LIDENT@175..180
                    Lident@175..180 "print"
                  ARG_LIST@180..198
                    LParen@180..181 "("
                    ARG@181..197
                      EXPR_CALL@181..197
                        EXPR_LIDENT@181..194
                          Lident@181..194 "int_to_string"
                        ARG_LIST@194..197
                          LParen@194..195 "("
                          ARG@195..196
                            EXPR_INT@195..196
                              Int32@195..196 "0"
                          RParen@196..197 ")"
                    RParen@197..198 ")"
              Comma@198..199 ","
              Whitespace@199..208 "\n        "
              MATCH_ARM@208..246
                PATTERN_CONSTR@208..220
                  Uident@208..211 "Mul"
                  LParen@211..212 "("
                  PATTERN_CONSTR@212..216
                    Uident@212..216 "Zero"
                  Comma@216..217 ","
                  PATTERN_VARIABLE@217..218
                    Lident@217..218 "x"
                  RParen@218..219 ")"
                  Whitespace@219..220 " "
                FatArrow@220..222 "=>"
                Whitespace@222..223 " "
                EXPR_CALL@223..246
                  EXPR_LIDENT@223..228
                    Lident@223..228 "print"
                  ARG_LIST@228..246
                    LParen@228..229 "("
                    ARG@229..245
                      EXPR_CALL@229..245
                        EXPR_LIDENT@229..242
                          Lident@229..242 "int_to_string"
                        ARG_LIST@242..245
                          LParen@242..243 "("
                          ARG@243..244
                            EXPR_INT@243..244
                              Int32@243..244 "1"
                          RParen@244..245 ")"
                    RParen@245..246 ")"
              Comma@246..247 ","
              Whitespace@247..256 "\n        "
              MATCH_ARM@256..297
                PATTERN_CONSTR@256..271
                  Uident@256..259 "Add"
                  LParen@259..260 "("
                  PATTERN_CONSTR@260..267
                    Uident@260..264 "Succ"
                    LParen@264..265 "("
                    PATTERN_VARIABLE@265..266
                      Lident@265..266 "x"
                    RParen@266..267 ")"
                  Comma@267..268 ","
                  PATTERN_VARIABLE@268..269
                    Lident@268..269 "y"
                  RParen@269..270 ")"
                  Whitespace@270..271 " "
                FatArrow@271..273 "=>"
                Whitespace@273..274 " "
                EXPR_CALL@274..297
                  EXPR_LIDENT@274..279
                    Lident@274..279 "print"
                  ARG_LIST@279..297
                    LParen@279..280 "("
                    ARG@280..296
                      EXPR_CALL@280..296
                        EXPR_LIDENT@280..293
                          Lident@280..293 "int_to_string"
                        ARG_LIST@293..296
                          LParen@293..294 "("
                          ARG@294..295
                            EXPR_INT@294..295
                              Int32@294..295 "2"
                          RParen@295..296 ")"
                    RParen@296..297 ")"
              Comma@297..298 ","
              Whitespace@298..307 "\n        "
              MATCH_ARM@307..345
                PATTERN_CONSTR@307..319
                  Uident@307..310 "Mul"
                  LParen@310..311 "("
                  PATTERN_VARIABLE@311..312
                    Lident@311..312 "x"
                  Comma@312..313 ","
                  PATTERN_CONSTR@313..317
                    Uident@313..317 "Zero"
                  RParen@317..318 ")"
                  Whitespace@318..319 " "
                FatArrow@319..321 "=>"
                Whitespace@321..322 " "
                EXPR_CALL@322..345
                  EXPR_LIDENT@322..327
                    Lident@322..327 "print"
                  ARG_LIST@327..345
                    LParen@327..328 "("
                    ARG@328..344
                      EXPR_CALL@328..344
                        EXPR_LIDENT@328..341
                          Lident@328..341 "int_to_string"
                        ARG_LIST@341..344
                          LParen@341..342 "("
                          ARG@342..343
                            EXPR_INT@342..343
                              Int32@342..343 "3"
                          RParen@343..344 ")"
                    RParen@344..345 ")"
              Comma@345..346 ","
              Whitespace@346..355 "\n        "
              MATCH_ARM@355..397
                PATTERN_CONSTR@355..371
                  Uident@355..358 "Mul"
                  LParen@358..359 "("
                  PATTERN_CONSTR@359..367
                    Uident@359..362 "Add"
                    LParen@362..363 "("
                    PATTERN_VARIABLE@363..364
                      Lident@363..364 "x"
                    Comma@364..365 ","
                    PATTERN_VARIABLE@365..366
                      Lident@365..366 "y"
                    RParen@366..367 ")"
                  Comma@367..368 ","
                  PATTERN_VARIABLE@368..369
                    Lident@368..369 "z"
                  RParen@369..370 ")"
                  Whitespace@370..371 " "
                FatArrow@371..373 "=>"
                Whitespace@373..374 " "
                EXPR_CALL@374..397
                  EXPR_LIDENT@374..379
                    Lident@374..379 "print"
                  ARG_LIST@379..397
                    LParen@379..380 "("
                    ARG@380..396
                      EXPR_CALL@380..396
                        EXPR_LIDENT@380..393
                          Lident@380..393 "int_to_string"
                        ARG_LIST@393..396
                          LParen@393..394 "("
                          ARG@394..395
                            EXPR_INT@394..395
                              Int32@394..395 "4"
                          RParen@395..396 ")"
                    RParen@396..397 ")"
              Comma@397..398 ","
              Whitespace@398..407 "\n        "
              MATCH_ARM@407..445
                PATTERN_CONSTR@407..419
                  Uident@407..410 "Add"
                  LParen@410..411 "("
                  PATTERN_VARIABLE@411..412
                    Lident@411..412 "x"
                  Comma@412..413 ","
                  PATTERN_CONSTR@413..417
                    Uident@413..417 "Zero"
                  RParen@417..418 ")"
                  Whitespace@418..419 " "
                FatArrow@419..421 "=>"
                Whitespace@421..422 " "
                EXPR_CALL@422..445
                  EXPR_LIDENT@422..427
                    Lident@422..427 "print"
                  ARG_LIST@427..445
                    LParen@427..428 "("
                    ARG@428..444
                      EXPR_CALL@428..444
                        EXPR_LIDENT@428..441
                          Lident@428..441 "int_to_string"
                        ARG_LIST@441..444
                          LParen@441..442 "("
                          ARG@442..443
                            EXPR_INT@442..443
                              Int32@442..443 "5"
                          RParen@443..444 ")"
                    RParen@444..445 ")"
              Comma@445..446 ","
              Whitespace@446..455 "\n        "
              MATCH_ARM@455..483
                PATTERN_VARIABLE@455..457
                  Lident@455..456 "x"
                  Whitespace@456..457 " "
                FatArrow@457..459 "=>"
                Whitespace@459..460 " "
                EXPR_CALL@460..483
                  EXPR_LIDENT@460..465
                    Lident@460..465 "print"
                  ARG_LIST@465..483
                    LParen@465..466 "("
                    ARG@466..482
                      EXPR_CALL@466..482
                        EXPR_LIDENT@466..479
                          Lident@466..479 "int_to_string"
                        ARG_LIST@479..482
                          LParen@479..480 "("
                          ARG@480..481
                            EXPR_INT@480..481
                              Int32@480..481 "6"
                          RParen@481..482 ")"
                    RParen@482..483 ")"
              Comma@483..484 ","
              Whitespace@484..489 "\n    "
              RBrace@489..490 "}"
              Whitespace@490..491 "\n"
      RBrace@491..492 "}"