File@0..163
  EnumDef@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VariantList@13..38
      Variant@13..14
        Uident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      Variant@20..32
        Uident@20..21 "B"
        TypeList@21..32
          LParen@21..22 "("
          TypeExpr@22..26
            Uident@22..26 "Bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TypeExpr@28..32
            Uident@28..32 "Unit"
      ErrorTree@32..33
        RParen@32..33 ")"
      ErrorTree@33..35
        Comma@33..34 ","
        Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  ExprLet@38..163
    LetKeyword@38..41 "let"
    Whitespace@41..42 " "
    PatternVariable@42..44
      Lident@42..43 "t"
      Whitespace@43..44 " "
    Eq@44..45 "="
    Whitespace@45..46 " "
    ExprCall@46..58
      ConstructorName@46..47
        Uident@46..47 "B"
      ArgList@47..58
        LParen@47..48 "("
        Arg@48..54
          ExprLiteral@48..52
            TrueKeyword@48..52 "true"
          Comma@52..53 ","
          Whitespace@53..54 " "
        Arg@54..56
          ExprUnit@54..56
            LParen@54..55 "("
            RParen@55..56 ")"
        RParen@56..57 ")"
        Whitespace@57..58 " "
    InKeyword@58..60 "in"
    Whitespace@60..61 "\n"
    ExprMatch@61..163
      MatchKeyword@61..66 "match"
      Whitespace@66..67 " "
      ExprName@67..69
        Lident@67..68 "t"
        Whitespace@68..69 " "
      MATCH_ARM_LIST@69..163
        LBrace@69..70 "{"
        Whitespace@70..75 "\n    "
        MATCH_ARM@75..92
          PatternConstr@75..77
            Uident@75..76 "A"
            Whitespace@76..77 " "
          FatArrow@77..79 "=>"
          Whitespace@79..80 " "
          ExprCall@80..92
            ExprName@80..89
              Lident@80..89 "print_int"
            ArgList@89..92
              LParen@89..90 "("
              Arg@90..91
                ExprLiteral@90..91
                  Int32@90..91 "1"
              RParen@91..92 ")"
        Comma@92..93 ","
        Whitespace@93..98 "\n    "
        MATCH_ARM@98..125
          PatternConstr@98..110
            Uident@98..99 "B"
            LParen@99..100 "("
            Pattern@100..104
              TrueKeyword@100..104 "true"
            Comma@104..105 ","
            Whitespace@105..106 " "
            PatternTuple@106..108
              LParen@106..107 "("
              RParen@107..108 ")"
            RParen@108..109 ")"
            Whitespace@109..110 " "
          FatArrow@110..112 "=>"
          Whitespace@112..113 " "
          ExprCall@113..125
            ExprName@113..122
              Lident@113..122 "print_int"
            ArgList@122..125
              LParen@122..123 "("
              Arg@123..124
                ExprLiteral@123..124
                  Int32@123..124 "2"
              RParen@124..125 ")"
        Comma@125..126 ","
        Whitespace@126..131 "\n    "
        MATCH_ARM@131..159
          PatternConstr@131..144
            Uident@131..132 "B"
            LParen@132..133 "("
            Pattern@133..138
              FalseKeyword@133..138 "false"
            Comma@138..139 ","
            Whitespace@139..140 " "
            PatternTuple@140..142
              LParen@140..141 "("
              RParen@141..142 ")"
            RParen@142..143 ")"
            Whitespace@143..144 " "
          FatArrow@144..146 "=>"
          Whitespace@146..147 " "
          ExprCall@147..159
            ExprName@147..156
              Lident@147..156 "print_int"
            ArgList@156..159
              LParen@156..157 "("
              Arg@157..158
                ExprLiteral@157..158
                  Int32@157..158 "3"
              RParen@158..159 ")"
        Comma@159..160 ","
        Whitespace@160..161 "\n"
        RBrace@161..162 "}"
        Whitespace@162..163 "\n"