FILE@0..163
  ENUM@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..38
      VARIANT@13..14
        Uident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..33
        Uident@20..21 "B"
        TYPE_LIST@21..33
          LParen@21..22 "("
          TYPE_BOOL@22..26
            BoolKeyword@22..26 "Bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TYPE_UNIT@28..32
            UnitKeyword@28..32 "Unit"
          RParen@32..33 ")"
      Comma@33..34 ","
      Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  EXPR_LET@38..163
    LetKeyword@38..41 "let"
    Whitespace@41..42 " "
    PATTERN_VARIABLE@42..44
      Lident@42..43 "t"
      Whitespace@43..44 " "
    Eq@44..45 "="
    Whitespace@45..46 " "
    EXPR_LET_VALUE@46..58
      EXPR_CALL@46..58
        EXPR_UIDENT@46..47
          Uident@46..47 "B"
        ARG_LIST@47..58
          LParen@47..48 "("
          ARG@48..54
            EXPR_BOOL@48..52
              TrueKeyword@48..52 "true"
            Comma@52..53 ","
            Whitespace@53..54 " "
          ARG@54..56
            EXPR_UNIT@54..56
              LParen@54..55 "("
              RParen@55..56 ")"
          RParen@56..57 ")"
          Whitespace@57..58 " "
    InKeyword@58..60 "in"
    Whitespace@60..61 "\n"
    EXPR_LET_BODY@61..163
      EXPR_MATCH@61..163
        MatchKeyword@61..66 "match"
        Whitespace@66..67 " "
        EXPR_LIDENT@67..69
          Lident@67..68 "t"
          Whitespace@68..69 " "
        MATCH_ARM_LIST@69..163
          LBrace@69..70 "{"
          Whitespace@70..75 "\n    "
          MATCH_ARM@75..92
            PATTERN_CONSTR@75..77
              Uident@75..76 "A"
              Whitespace@76..77 " "
            FatArrow@77..79 "=>"
            Whitespace@79..80 " "
            EXPR_CALL@80..92
              EXPR_LIDENT@80..89
                Lident@80..89 "print_int"
              ARG_LIST@89..92
                LParen@89..90 "("
                ARG@90..91
                  EXPR_INT@90..91
                    Int32@90..91 "1"
                RParen@91..92 ")"
          Comma@92..93 ","
          Whitespace@93..98 "\n    "
          MATCH_ARM@98..125
            PATTERN_CONSTR@98..110
              Uident@98..99 "B"
              LParen@99..100 "("
              PATTERN_BOOL@100..104
                TrueKeyword@100..104 "true"
              Comma@104..105 ","
              Whitespace@105..106 " "
              PATTERN_TUPLE@106..108
                LParen@106..107 "("
                RParen@107..108 ")"
              RParen@108..109 ")"
              Whitespace@109..110 " "
            FatArrow@110..112 "=>"
            Whitespace@112..113 " "
            EXPR_CALL@113..125
              EXPR_LIDENT@113..122
                Lident@113..122 "print_int"
              ARG_LIST@122..125
                LParen@122..123 "("
                ARG@123..124
                  EXPR_INT@123..124
                    Int32@123..124 "2"
                RParen@124..125 ")"
          Comma@125..126 ","
          Whitespace@126..131 "\n    "
          MATCH_ARM@131..159
            PATTERN_CONSTR@131..144
              Uident@131..132 "B"
              LParen@132..133 "("
              PATTERN_BOOL@133..138
                FalseKeyword@133..138 "false"
              Comma@138..139 ","
              Whitespace@139..140 " "
              PATTERN_TUPLE@140..142
                LParen@140..141 "("
                RParen@141..142 ")"
              RParen@142..143 ")"
              Whitespace@143..144 " "
            FatArrow@144..146 "=>"
            Whitespace@146..147 " "
            EXPR_CALL@147..159
              EXPR_LIDENT@147..156
                Lident@147..156 "print_int"
              ARG_LIST@156..159
                LParen@156..157 "("
                ARG@157..158
                  EXPR_INT@157..158
                    Int32@157..158 "3"
                RParen@158..159 ")"
          Comma@159..160 ","
          Whitespace@160..161 "\n"
          RBrace@161..162 "}"
          Whitespace@162..163 "\n"