File@0..163
  EnumDef@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VariantList@13..38
      Variant@13..14
        Uident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      Variant@20..32
        Uident@20..21 "B"
        TypeList@21..32
          LParen@21..22 "("
          TypeExpr@22..26
            Uident@22..26 "Bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TypeExpr@28..32
            Uident@28..32 "Unit"
      ErrorTree@32..33
        RParen@32..33 ")"
      ErrorTree@33..35
        Comma@33..34 ","
        Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  ErrorTree@38..42
    LetKeyword@38..41 "let"
    Whitespace@41..42 " "
  ErrorTree@42..44
    Lident@42..43 "t"
    Whitespace@43..44 " "
  ErrorTree@44..46
    Eq@44..45 "="
    Whitespace@45..46 " "
  ErrorTree@46..47
    Uident@46..47 "B"
  ErrorTree@47..48
    LParen@47..48 "("
  ErrorTree@48..52
    TrueKeyword@48..52 "true"
  ErrorTree@52..54
    Comma@52..53 ","
    Whitespace@53..54 " "
  ErrorTree@54..55
    LParen@54..55 "("
  ErrorTree@55..56
    RParen@55..56 ")"
  ErrorTree@56..58
    RParen@56..57 ")"
    Whitespace@57..58 " "
  ErrorTree@58..61
    InKeyword@58..60 "in"
    Whitespace@60..61 "\n"
  ErrorTree@61..67
    MatchKeyword@61..66 "match"
    Whitespace@66..67 " "
  ErrorTree@67..69
    Lident@67..68 "t"
    Whitespace@68..69 " "
  ErrorTree@69..75
    LBrace@69..70 "{"
    Whitespace@70..75 "\n    "
  ErrorTree@75..77
    Uident@75..76 "A"
    Whitespace@76..77 " "
  ErrorTree@77..78
    Eq@77..78 "="
  ErrorTree@78..80
    Error@78..79 ">"
    Whitespace@79..80 " "
  ErrorTree@80..89
    Lident@80..89 "print_int"
  ErrorTree@89..90
    LParen@89..90 "("
  ErrorTree@90..91
    Int32@90..91 "1"
  ErrorTree@91..92
    RParen@91..92 ")"
  ErrorTree@92..98
    Comma@92..93 ","
    Whitespace@93..98 "\n    "
  ErrorTree@98..99
    Uident@98..99 "B"
  ErrorTree@99..100
    LParen@99..100 "("
  ErrorTree@100..104
    TrueKeyword@100..104 "true"
  ErrorTree@104..106
    Comma@104..105 ","
    Whitespace@105..106 " "
  ErrorTree@106..107
    LParen@106..107 "("
  ErrorTree@107..108
    RParen@107..108 ")"
  ErrorTree@108..110
    RParen@108..109 ")"
    Whitespace@109..110 " "
  ErrorTree@110..111
    Eq@110..111 "="
  ErrorTree@111..113
    Error@111..112 ">"
    Whitespace@112..113 " "
  ErrorTree@113..122
    Lident@113..122 "print_int"
  ErrorTree@122..123
    LParen@122..123 "("
  ErrorTree@123..124
    Int32@123..124 "2"
  ErrorTree@124..125
    RParen@124..125 ")"
  ErrorTree@125..131
    Comma@125..126 ","
    Whitespace@126..131 "\n    "
  ErrorTree@131..132
    Uident@131..132 "B"
  ErrorTree@132..133
    LParen@132..133 "("
  ErrorTree@133..138
    FalseKeyword@133..138 "false"
  ErrorTree@138..140
    Comma@138..139 ","
    Whitespace@139..140 " "
  ErrorTree@140..141
    LParen@140..141 "("
  ErrorTree@141..142
    RParen@141..142 ")"
  ErrorTree@142..144
    RParen@142..143 ")"
    Whitespace@143..144 " "
  ErrorTree@144..145
    Eq@144..145 "="
  ErrorTree@145..147
    Error@145..146 ">"
    Whitespace@146..147 " "
  ErrorTree@147..156
    Lident@147..156 "print_int"
  ErrorTree@156..157
    LParen@156..157 "("
  ErrorTree@157..158
    Int32@157..158 "3"
  ErrorTree@158..159
    RParen@158..159 ")"
  ErrorTree@159..161
    Comma@159..160 ","
    Whitespace@160..161 "\n"
  ErrorTree@161..163
    RBrace@161..162 "}"
    Whitespace@162..163 "\n"