FILE@0..372
  ENUM@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..38
      VARIANT@13..14
        Uident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..33
        Uident@20..21 "B"
        TYPE_LIST@21..33
          LParen@21..22 "("
          TYPE_BOOL@22..26
            BoolKeyword@22..26 "Bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TYPE_BOOL@28..32
            BoolKeyword@28..32 "Bool"
          RParen@32..33 ")"
      Comma@33..34 ","
      Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  FN@38..220
    FnKeyword@38..40 "fn"
    Whitespace@40..41 " "
    Lident@41..45 "test"
    PARAM_LIST@45..52
      LParen@45..46 "("
      PARAM@46..50
        Lident@46..47 "t"
        Colon@47..48 ":"
        Whitespace@48..49 " "
        TYPE_ENUM@49..50
          Uident@49..50 "T"
      RParen@50..51 ")"
      Whitespace@51..52 " "
    Arrow@52..54 "->"
    Whitespace@54..55 " "
    TYPE_UNIT@55..60
      UnitKeyword@55..59 "Unit"
      Whitespace@59..60 " "
    BLOCK@60..220
      LBrace@60..61 "{"
      Whitespace@61..66 "\n    "
      EXPR_MATCH@66..217
        MatchKeyword@66..71 "match"
        Whitespace@71..72 " "
        EXPR_LIDENT@72..74
          Lident@72..73 "t"
          Whitespace@73..74 " "
        MATCH_ARM_LIST@74..217
          LBrace@74..75 "{"
          Whitespace@75..84 "\n        "
          MATCH_ARM@84..101
            PATTERN_CONSTR@84..86
              Uident@84..85 "A"
              Whitespace@85..86 " "
            FatArrow@86..88 "=>"
            Whitespace@88..89 " "
            EXPR_CALL@89..101
              EXPR_LIDENT@89..98
                Lident@89..98 "print_int"
              ARG_LIST@98..101
                LParen@98..99 "("
                ARG@99..100
                  EXPR_INT@99..100
                    Int32@99..100 "1"
                RParen@100..101 ")"
          Comma@101..102 ","
          Whitespace@102..111 "\n        "
          MATCH_ARM@111..142
            PATTERN_CONSTR@111..127
              Uident@111..112 "B"
              LParen@112..113 "("
              PATTERN_BOOL@113..118
                FalseKeyword@113..118 "false"
              Comma@118..119 ","
              Whitespace@119..120 " "
              PATTERN_BOOL@120..125
                FalseKeyword@120..125 "false"
              RParen@125..126 ")"
              Whitespace@126..127 " "
            FatArrow@127..129 "=>"
            Whitespace@129..130 " "
            EXPR_CALL@130..142
              EXPR_LIDENT@130..139
                Lident@130..139 "print_int"
              ARG_LIST@139..142
                LParen@139..140 "("
                ARG@140..141
                  EXPR_INT@140..141
                    Int32@140..141 "2"
                RParen@141..142 ")"
          Comma@142..143 ","
          Whitespace@143..152 "\n        "
          MATCH_ARM@152..182
            PATTERN_CONSTR@152..167
              Uident@152..153 "B"
              LParen@153..154 "("
              PATTERN_BOOL@154..159
                FalseKeyword@154..159 "false"
              Comma@159..160 ","
              Whitespace@160..161 " "
              PATTERN_BOOL@161..165
                TrueKeyword@161..165 "true"
              RParen@165..166 ")"
              Whitespace@166..167 " "
            FatArrow@167..169 "=>"
            Whitespace@169..170 " "
            EXPR_CALL@170..182
              EXPR_LIDENT@170..179
                Lident@170..179 "print_int"
              ARG_LIST@179..182
                LParen@179..180 "("
                ARG@180..181
                  EXPR_INT@180..181
                    Int32@180..181 "3"
                RParen@181..182 ")"
          Comma@182..183 ","
          Whitespace@183..192 "\n        "
          MATCH_ARM@192..209
            PATTERN_WILDCARD@192..194
              WildcardKeyword@192..193 "_"
              Whitespace@193..194 " "
            FatArrow@194..196 "=>"
            Whitespace@196..197 " "
            EXPR_CALL@197..209
              EXPR_LIDENT@197..206
                Lident@197..206 "print_int"
              ARG_LIST@206..209
                LParen@206..207 "("
                ARG@207..208
                  EXPR_INT@207..208
                    Int32@207..208 "4"
                RParen@208..209 ")"
          Comma@209..210 ","
          Whitespace@210..215 "\n    "
          RBrace@215..216 "}"
          Whitespace@216..217 "\n"
      RBrace@217..218 "}"
      Whitespace@218..220 "\n\n"
  FN@220..372
    FnKeyword@220..222 "fn"
    Whitespace@222..223 " "
    Lident@223..227 "main"
    PARAM_LIST@227..230
      LParen@227..228 "("
      RParen@228..229 ")"
      Whitespace@229..230 " "
    BLOCK@230..372
      LBrace@230..231 "{"
      Whitespace@231..236 "\n    "
      EXPR_LET@236..370
        LetKeyword@236..239 "let"
        Whitespace@239..240 " "
        PATTERN_WILDCARD@240..242
          WildcardKeyword@240..241 "_"
          Whitespace@241..242 " "
        Eq@242..243 "="
        Whitespace@243..244 " "
        EXPR_LET_VALUE@244..264
          EXPR_CALL@244..264
            EXPR_LIDENT@244..248
              Lident@244..248 "test"
            ARG_LIST@248..264
              LParen@248..249 "("
              ARG@249..262
                EXPR_CALL@249..262
                  EXPR_UIDENT@249..250
                    Uident@249..250 "B"
                  ARG_LIST@250..262
                    LParen@250..251 "("
                    ARG@251..257
                      EXPR_BOOL@251..255
                        TrueKeyword@251..255 "true"
                      Comma@255..256 ","
                      Whitespace@256..257 " "
                    ARG@257..261
                      EXPR_BOOL@257..261
                        TrueKeyword@257..261 "true"
                    RParen@261..262 ")"
              RParen@262..263 ")"
              Whitespace@263..264 " "
        InKeyword@264..266 "in"
        Whitespace@266..271 "\n    "
        EXPR_LET_BODY@271..370
          EXPR_LET@271..370
            LetKeyword@271..274 "let"
            Whitespace@274..275 " "
            PATTERN_WILDCARD@275..277
              WildcardKeyword@275..276 "_"
              Whitespace@276..277 " "
            Eq@277..278 "="
            Whitespace@278..279 " "
            EXPR_LET_VALUE@279..300
              EXPR_CALL@279..300
                EXPR_LIDENT@279..283
                  Lident@279..283 "test"
                ARG_LIST@283..300
                  LParen@283..284 "("
                  ARG@284..298
                    EXPR_CALL@284..298
                      EXPR_UIDENT@284..285
                        Uident@284..285 "B"
                      ARG_LIST@285..298
                        LParen@285..286 "("
                        ARG@286..293
                          EXPR_BOOL@286..291
                            FalseKeyword@286..291 "false"
                          Comma@291..292 ","
                          Whitespace@292..293 " "
                        ARG@293..297
                          EXPR_BOOL@293..297
                            TrueKeyword@293..297 "true"
                        RParen@297..298 ")"
                  RParen@298..299 ")"
                  Whitespace@299..300 " "
            InKeyword@300..302 "in"
            Whitespace@302..307 "\n    "
            EXPR_LET_BODY@307..370
              EXPR_LET@307..370
                LetKeyword@307..310 "let"
                Whitespace@310..311 " "
                PATTERN_WILDCARD@311..313
                  WildcardKeyword@311..312 "_"
                  Whitespace@312..313 " "
                Eq@313..314 "="
                Whitespace@314..315 " "
                EXPR_LET_VALUE@315..337
                  EXPR_CALL@315..337
                    EXPR_LIDENT@315..319
                      Lident@315..319 "test"
                    ARG_LIST@319..337
                      LParen@319..320 "("
                      ARG@320..335
                        EXPR_CALL@320..335
                          EXPR_UIDENT@320..321
                            Uident@320..321 "B"
                          ARG_LIST@321..335
                            LParen@321..322 "("
                            ARG@322..329
                              EXPR_BOOL@322..327
                                FalseKeyword@322..327 "false"
                              Comma@327..328 ","
                              Whitespace@328..329 " "
                            ARG@329..334
                              EXPR_BOOL@329..334
                                FalseKeyword@329..334 "false"
                            RParen@334..335 ")"
                      RParen@335..336 ")"
                      Whitespace@336..337 " "
                InKeyword@337..339 "in"
                Whitespace@339..344 "\n    "
                EXPR_LET_BODY@344..370
                  EXPR_LET@344..370
                    LetKeyword@344..347 "let"
                    Whitespace@347..348 " "
                    PATTERN_WILDCARD@348..350
                      WildcardKeyword@348..349 "_"
                      Whitespace@349..350 " "
                    Eq@350..351 "="
                    Whitespace@351..352 " "
                    EXPR_LET_VALUE@352..360
                      EXPR_CALL@352..360
                        EXPR_LIDENT@352..356
                          Lident@352..356 "test"
                        ARG_LIST@356..360
                          LParen@356..357 "("
                          ARG@357..358
                            EXPR_UIDENT@357..358
                              Uident@357..358 "A"
                          RParen@358..359 ")"
                          Whitespace@359..360 " "
                    InKeyword@360..362 "in"
                    Whitespace@362..367 "\n    "
                    EXPR_LET_BODY@367..370
                      EXPR_UNIT@367..370
                        LParen@367..368 "("
                        RParen@368..369 ")"
                        Whitespace@369..370 "\n"
      RBrace@370..371 "}"
      Whitespace@371..372 "\n"