FILE@0..416
  ENUM@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..38
      VARIANT@13..14
        Uident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..33
        Uident@20..21 "B"
        TYPE_LIST@21..33
          LParen@21..22 "("
          TYPE_BOOL@22..26
            BoolKeyword@22..26 "Bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TYPE_BOOL@28..32
            BoolKeyword@28..32 "Bool"
          RParen@32..33 ")"
      Comma@33..34 ","
      Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  FN@38..264
    FnKeyword@38..40 "fn"
    Whitespace@40..41 " "
    Lident@41..45 "test"
    PARAM_LIST@45..52
      LParen@45..46 "("
      PARAM@46..50
        Lident@46..47 "t"
        Colon@47..48 ":"
        Whitespace@48..49 " "
        TYPE_TAPP@49..50
          Uident@49..50 "T"
      RParen@50..51 ")"
      Whitespace@51..52 " "
    Arrow@52..54 "->"
    Whitespace@54..55 " "
    TYPE_UNIT@55..60
      UnitKeyword@55..59 "Unit"
      Whitespace@59..60 " "
    BLOCK@60..264
      LBrace@60..61 "{"
      Whitespace@61..66 "\n    "
      EXPR_MATCH@66..261
        MatchKeyword@66..71 "match"
        Whitespace@71..72 " "
        EXPR_LIDENT@72..74
          Lident@72..73 "t"
          Whitespace@73..74 " "
        MATCH_ARM_LIST@74..261
          LBrace@74..75 "{"
          Whitespace@75..84 "\n        "
          MATCH_ARM@84..112
            PATTERN_CONSTR@84..86
              Uident@84..85 "A"
              Whitespace@85..86 " "
            FatArrow@86..88 "=>"
            Whitespace@88..89 " "
            EXPR_CALL@89..112
              EXPR_LIDENT@89..94
                Lident@89..94 "print"
              ARG_LIST@94..112
                LParen@94..95 "("
                ARG@95..111
                  EXPR_CALL@95..111
                    EXPR_LIDENT@95..108
                      Lident@95..108 "int_to_string"
                    ARG_LIST@108..111
                      LParen@108..109 "("
                      ARG@109..110
                        EXPR_INT@109..110
                          Int32@109..110 "1"
                      RParen@110..111 ")"
                RParen@111..112 ")"
          Comma@112..113 ","
          Whitespace@113..122 "\n        "
          MATCH_ARM@122..164
            PATTERN_CONSTR@122..138
              Uident@122..123 "B"
              LParen@123..124 "("
              PATTERN_BOOL@124..129
                FalseKeyword@124..129 "false"
              Comma@129..130 ","
              Whitespace@130..131 " "
              PATTERN_BOOL@131..136
                FalseKeyword@131..136 "false"
              RParen@136..137 ")"
              Whitespace@137..138 " "
            FatArrow@138..140 "=>"
            Whitespace@140..141 " "
            EXPR_CALL@141..164
              EXPR_LIDENT@141..146
                Lident@141..146 "print"
              ARG_LIST@146..164
                LParen@146..147 "("
                ARG@147..163
                  EXPR_CALL@147..163
                    EXPR_LIDENT@147..160
                      Lident@147..160 "int_to_string"
                    ARG_LIST@160..163
                      LParen@160..161 "("
                      ARG@161..162
                        EXPR_INT@161..162
                          Int32@161..162 "2"
                      RParen@162..163 ")"
                RParen@163..164 ")"
          Comma@164..165 ","
          Whitespace@165..174 "\n        "
          MATCH_ARM@174..215
            PATTERN_CONSTR@174..189
              Uident@174..175 "B"
              LParen@175..176 "("
              PATTERN_BOOL@176..181
                FalseKeyword@176..181 "false"
              Comma@181..182 ","
              Whitespace@182..183 " "
              PATTERN_BOOL@183..187
                TrueKeyword@183..187 "true"
              RParen@187..188 ")"
              Whitespace@188..189 " "
            FatArrow@189..191 "=>"
            Whitespace@191..192 " "
            EXPR_CALL@192..215
              EXPR_LIDENT@192..197
                Lident@192..197 "print"
              ARG_LIST@197..215
                LParen@197..198 "("
                ARG@198..214
                  EXPR_CALL@198..214
                    EXPR_LIDENT@198..211
                      Lident@198..211 "int_to_string"
                    ARG_LIST@211..214
                      LParen@211..212 "("
                      ARG@212..213
                        EXPR_INT@212..213
                          Int32@212..213 "3"
                      RParen@213..214 ")"
                RParen@214..215 ")"
          Comma@215..216 ","
          Whitespace@216..225 "\n        "
          MATCH_ARM@225..253
            PATTERN_WILDCARD@225..227
              WildcardKeyword@225..226 "_"
              Whitespace@226..227 " "
            FatArrow@227..229 "=>"
            Whitespace@229..230 " "
            EXPR_CALL@230..253
              EXPR_LIDENT@230..235
                Lident@230..235 "print"
              ARG_LIST@235..253
                LParen@235..236 "("
                ARG@236..252
                  EXPR_CALL@236..252
                    EXPR_LIDENT@236..249
                      Lident@236..249 "int_to_string"
                    ARG_LIST@249..252
                      LParen@249..250 "("
                      ARG@250..251
                        EXPR_INT@250..251
                          Int32@250..251 "4"
                      RParen@251..252 ")"
                RParen@252..253 ")"
          Comma@253..254 ","
          Whitespace@254..259 "\n    "
          RBrace@259..260 "}"
          Whitespace@260..261 "\n"
      RBrace@261..262 "}"
      Whitespace@262..264 "\n\n"
  FN@264..416
    FnKeyword@264..266 "fn"
    Whitespace@266..267 " "
    Lident@267..271 "main"
    PARAM_LIST@271..274
      LParen@271..272 "("
      RParen@272..273 ")"
      Whitespace@273..274 " "
    BLOCK@274..416
      LBrace@274..275 "{"
      Whitespace@275..280 "\n    "
      EXPR_LET@280..414
        LetKeyword@280..283 "let"
        Whitespace@283..284 " "
        PATTERN_WILDCARD@284..286
          WildcardKeyword@284..285 "_"
          Whitespace@285..286 " "
        Eq@286..287 "="
        Whitespace@287..288 " "
        EXPR_LET_VALUE@288..308
          EXPR_CALL@288..308
            EXPR_LIDENT@288..292
              Lident@288..292 "test"
            ARG_LIST@292..308
              LParen@292..293 "("
              ARG@293..306
                EXPR_CALL@293..306
                  EXPR_UIDENT@293..294
                    Uident@293..294 "B"
                  ARG_LIST@294..306
                    LParen@294..295 "("
                    ARG@295..301
                      EXPR_BOOL@295..299
                        TrueKeyword@295..299 "true"
                      Comma@299..300 ","
                      Whitespace@300..301 " "
                    ARG@301..305
                      EXPR_BOOL@301..305
                        TrueKeyword@301..305 "true"
                    RParen@305..306 ")"
              RParen@306..307 ")"
              Whitespace@307..308 " "
        InKeyword@308..310 "in"
        Whitespace@310..315 "\n    "
        EXPR_LET_BODY@315..414
          EXPR_LET@315..414
            LetKeyword@315..318 "let"
            Whitespace@318..319 " "
            PATTERN_WILDCARD@319..321
              WildcardKeyword@319..320 "_"
              Whitespace@320..321 " "
            Eq@321..322 "="
            Whitespace@322..323 " "
            EXPR_LET_VALUE@323..344
              EXPR_CALL@323..344
                EXPR_LIDENT@323..327
                  Lident@323..327 "test"
                ARG_LIST@327..344
                  LParen@327..328 "("
                  ARG@328..342
                    EXPR_CALL@328..342
                      EXPR_UIDENT@328..329
                        Uident@328..329 "B"
                      ARG_LIST@329..342
                        LParen@329..330 "("
                        ARG@330..337
                          EXPR_BOOL@330..335
                            FalseKeyword@330..335 "false"
                          Comma@335..336 ","
                          Whitespace@336..337 " "
                        ARG@337..341
                          EXPR_BOOL@337..341
                            TrueKeyword@337..341 "true"
                        RParen@341..342 ")"
                  RParen@342..343 ")"
                  Whitespace@343..344 " "
            InKeyword@344..346 "in"
            Whitespace@346..351 "\n    "
            EXPR_LET_BODY@351..414
              EXPR_LET@351..414
                LetKeyword@351..354 "let"
                Whitespace@354..355 " "
                PATTERN_WILDCARD@355..357
                  WildcardKeyword@355..356 "_"
                  Whitespace@356..357 " "
                Eq@357..358 "="
                Whitespace@358..359 " "
                EXPR_LET_VALUE@359..381
                  EXPR_CALL@359..381
                    EXPR_LIDENT@359..363
                      Lident@359..363 "test"
                    ARG_LIST@363..381
                      LParen@363..364 "("
                      ARG@364..379
                        EXPR_CALL@364..379
                          EXPR_UIDENT@364..365
                            Uident@364..365 "B"
                          ARG_LIST@365..379
                            LParen@365..366 "("
                            ARG@366..373
                              EXPR_BOOL@366..371
                                FalseKeyword@366..371 "false"
                              Comma@371..372 ","
                              Whitespace@372..373 " "
                            ARG@373..378
                              EXPR_BOOL@373..378
                                FalseKeyword@373..378 "false"
                            RParen@378..379 ")"
                      RParen@379..380 ")"
                      Whitespace@380..381 " "
                InKeyword@381..383 "in"
                Whitespace@383..388 "\n    "
                EXPR_LET_BODY@388..414
                  EXPR_LET@388..414
                    LetKeyword@388..391 "let"
                    Whitespace@391..392 " "
                    PATTERN_WILDCARD@392..394
                      WildcardKeyword@392..393 "_"
                      Whitespace@393..394 " "
                    Eq@394..395 "="
                    Whitespace@395..396 " "
                    EXPR_LET_VALUE@396..404
                      EXPR_CALL@396..404
                        EXPR_LIDENT@396..400
                          Lident@396..400 "test"
                        ARG_LIST@400..404
                          LParen@400..401 "("
                          ARG@401..402
                            EXPR_UIDENT@401..402
                              Uident@401..402 "A"
                          RParen@402..403 ")"
                          Whitespace@403..404 " "
                    InKeyword@404..406 "in"
                    Whitespace@406..411 "\n    "
                    EXPR_LET_BODY@411..414
                      EXPR_UNIT@411..414
                        LParen@411..412 "("
                        RParen@412..413 ")"
                        Whitespace@413..414 "\n"
      RBrace@414..415 "}"
      Whitespace@415..416 "\n"