File@0..226
  Enum@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..38
      VARIANT@13..14
        Uident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..33
        Uident@20..21 "B"
        TYPE_LIST@21..33
          LParen@21..22 "("
          TYPE_BOOL@22..26
            BoolKeyword@22..26 "Bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TYPE_BOOL@28..32
            BoolKeyword@28..32 "Bool"
          RParen@32..33 ")"
      Comma@33..34 ","
      Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  Fn@38..223
    FnKeyword@38..40 "fn"
    Whitespace@40..41 " "
    Lident@41..45 "test"
    PARAM_LIST@45..52
      LParen@45..46 "("
      PARAM@46..50
        Lident@46..47 "t"
        Colon@47..48 ":"
        Whitespace@48..49 " "
        TYPE_ENUM@49..50
          Uident@49..50 "T"
      RParen@50..51 ")"
      Whitespace@51..52 " "
    Arrow@52..54 "->"
    Whitespace@54..55 " "
    TYPE_UNIT@55..60
      UnitKeyword@55..59 "Unit"
      Whitespace@59..60 " "
    BLOCK@60..223
      LBrace@60..61 "{"
      Whitespace@61..66 "\n    "
      EXPR_LET@66..220
        LetKeyword@66..69 "let"
        Whitespace@69..70 " "
        PATTERN_VARIABLE@70..72
          Lident@70..71 "t"
          Whitespace@71..72 " "
        Eq@72..73 "="
        Whitespace@73..74 " "
        EXPR_LET_VALUE@74..89
          EXPR_CALL@74..89
            EXPR_UIDENT@74..75
              Uident@74..75 "B"
            ARG_LIST@75..89
              LParen@75..76 "("
              ARG@76..82
                EXPR_BOOL@76..80
                  TrueKeyword@76..80 "true"
                Comma@80..81 ","
                Whitespace@81..82 " "
              ARG@82..87
                EXPR_BOOL@82..87
                  FalseKeyword@82..87 "false"
              RParen@87..88 ")"
              Whitespace@88..89 " "
        InKeyword@89..91 "in"
        Whitespace@91..96 "\n    "
        EXPR_LET_BODY@96..220
          EXPR_MATCH@96..220
            MatchKeyword@96..101 "match"
            Whitespace@101..102 " "
            EXPR_LIDENT@102..104
              Lident@102..103 "t"
              Whitespace@103..104 " "
            MATCH_ARM_LIST@104..220
              LBrace@104..105 "{"
              Whitespace@105..114 "\n        "
              MATCH_ARM@114..131
                PATTERN_CONSTR@114..116
                  Uident@114..115 "A"
                  Whitespace@115..116 " "
                FatArrow@116..118 "=>"
                Whitespace@118..119 " "
                EXPR_CALL@119..131
                  EXPR_LIDENT@119..128
                    Lident@119..128 "print_int"
                  ARG_LIST@128..131
                    LParen@128..129 "("
                    ARG@129..130
                      EXPR_INT@129..130
                        Int32@129..130 "1"
                    RParen@130..131 ")"
              Comma@131..132 ","
              Whitespace@132..141 "\n        "
              MATCH_ARM@141..172
                PATTERN_CONSTR@141..157
                  Uident@141..142 "B"
                  LParen@142..143 "("
                  PATTERN_BOOL@143..148
                    FalseKeyword@143..148 "false"
                  Comma@148..149 ","
                  Whitespace@149..150 " "
                  PATTERN_BOOL@150..155
                    FalseKeyword@150..155 "false"
                  RParen@155..156 ")"
                  Whitespace@156..157 " "
                FatArrow@157..159 "=>"
                Whitespace@159..160 " "
                EXPR_CALL@160..172
                  EXPR_LIDENT@160..169
                    Lident@160..169 "print_int"
                  ARG_LIST@169..172
                    LParen@169..170 "("
                    ARG@170..171
                      EXPR_INT@170..171
                        Int32@170..171 "2"
                    RParen@171..172 ")"
              Comma@172..173 ","
              Whitespace@173..182 "\n        "
              MATCH_ARM@182..212
                PATTERN_CONSTR@182..197
                  Uident@182..183 "B"
                  LParen@183..184 "("
                  PATTERN_BOOL@184..189
                    FalseKeyword@184..189 "false"
                  Comma@189..190 ","
                  Whitespace@190..191 " "
                  PATTERN_BOOL@191..195
                    TrueKeyword@191..195 "true"
                  RParen@195..196 ")"
                  Whitespace@196..197 " "
                FatArrow@197..199 "=>"
                Whitespace@199..200 " "
                EXPR_CALL@200..212
                  EXPR_LIDENT@200..209
                    Lident@200..209 "print_int"
                  ARG_LIST@209..212
                    LParen@209..210 "("
                    ARG@210..211
                      EXPR_INT@210..211
                        Int32@210..211 "3"
                    RParen@211..212 ")"
              Comma@212..213 ","
              Whitespace@213..218 "\n    "
              RBrace@218..219 "}"
              Whitespace@219..220 "\n"
      RBrace@220..221 "}"
      Whitespace@221..223 "\n\n"
  EXPR_UNIT@223..226
    LParen@223..224 "("
    RParen@224..225 ")"
    Whitespace@225..226 "\n"