FILE@0..188
  FN@0..188
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..188
      LBrace@10..11 "{"
      Whitespace@11..14 "\n  "
      EXPR_LET@14..186
        LetKeyword@14..17 "let"
        Whitespace@17..18 " "
        PATTERN_VARIABLE@18..20
          Lident@18..19 "a"
          Whitespace@19..20 " "
        Eq@20..21 "="
        Whitespace@21..22 " "
        EXPR_LET_VALUE@22..35
          EXPR_TUPLE@22..35
            LParen@22..23 "("
            EXPR_BOOL@23..27
              TrueKeyword@23..27 "true"
            Comma@27..28 ","
            Whitespace@28..29 " "
            EXPR_BOOL@29..33
              TrueKeyword@29..33 "true"
            RParen@33..34 ")"
            Whitespace@34..35 " "
        InKeyword@35..37 "in"
        Whitespace@37..40 "\n  "
        EXPR_LET_BODY@40..186
          EXPR_MATCH@40..186
            MatchKeyword@40..45 "match"
            Whitespace@45..46 " "
            EXPR_LIDENT@46..48
              Lident@46..47 "a"
              Whitespace@47..48 " "
            MATCH_ARM_LIST@48..186
              LBrace@48..49 "{"
              Whitespace@49..54 "\n    "
              MATCH_ARM@54..96
                PATTERN_TUPLE@54..68
                  LParen@54..55 "("
                  PATTERN_BOOL@55..59
                    TrueKeyword@55..59 "true"
                  Comma@59..60 ","
                  Whitespace@60..61 " "
                  PATTERN_BOOL@61..66
                    FalseKeyword@61..66 "false"
                  RParen@66..67 ")"
                  Whitespace@67..68 " "
                FatArrow@68..70 "=>"
                Whitespace@70..71 " "
                EXPR_CALL@71..96
                  EXPR_LIDENT@71..76
                    Lident@71..76 "print"
                  ARG_LIST@76..96
                    LParen@76..77 "("
                    ARG@77..95
                      EXPR_CALL@77..95
                        EXPR_LIDENT@77..90
                          Lident@77..90 "int_to_string"
                        ARG_LIST@90..95
                          LParen@90..91 "("
                          ARG@91..94
                            EXPR_INT@91..94
                              Int32@91..94 "123"
                          RParen@94..95 ")"
                    RParen@95..96 ")"
              Comma@96..97 ","
              Whitespace@97..102 "\n    "
              MATCH_ARM@102..144
                PATTERN_TUPLE@102..116
                  LParen@102..103 "("
                  PATTERN_BOOL@103..108
                    FalseKeyword@103..108 "false"
                  Comma@108..109 ","
                  Whitespace@109..110 " "
                  PATTERN_BOOL@110..114
                    TrueKeyword@110..114 "true"
                  RParen@114..115 ")"
                  Whitespace@115..116 " "
                FatArrow@116..118 "=>"
                Whitespace@118..119 " "
                EXPR_CALL@119..144
                  EXPR_LIDENT@119..124
                    Lident@119..124 "print"
                  ARG_LIST@124..144
                    LParen@124..125 "("
                    ARG@125..143
                      EXPR_CALL@125..143
                        EXPR_LIDENT@125..138
                          Lident@125..138 "int_to_string"
                        ARG_LIST@138..143
                          LParen@138..139 "("
                          ARG@139..142
                            EXPR_INT@139..142
                              Int32@139..142 "456"
                          RParen@142..143 ")"
                    RParen@143..144 ")"
              Comma@144..145 ","
              Whitespace@145..150 "\n    "
              MATCH_ARM@150..180
                PATTERN_WILDCARD@150..152
                  WildcardKeyword@150..151 "_"
                  Whitespace@151..152 " "
                FatArrow@152..154 "=>"
                Whitespace@154..155 " "
                EXPR_CALL@155..180
                  EXPR_LIDENT@155..160
                    Lident@155..160 "print"
                  ARG_LIST@160..180
                    LParen@160..161 "("
                    ARG@161..179
                      EXPR_CALL@161..179
                        EXPR_LIDENT@161..174
                          Lident@161..174 "int_to_string"
                        ARG_LIST@174..179
                          LParen@174..175 "("
                          ARG@175..178
                            EXPR_INT@175..178
                              Int32@175..178 "789"
                          RParen@178..179 ")"
                    RParen@179..180 ")"
              Comma@180..181 ","
              Whitespace@181..184 "\n  "
              RBrace@184..185 "}"
              Whitespace@185..186 "\n"
      RBrace@186..187 "}"
      Whitespace@187..188 "\n"