FILE@0..571
  FN@0..308
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..20 "test_nested_match"
    PARAM_LIST@20..55
      LParen@20..21 "("
      PARAM@21..38
        Lident@21..22 "x"
        Colon@22..23 ":"
        Whitespace@23..24 " "
        TYPE_TUPLE@24..36
          TYPE_LIST@24..36
            LParen@24..25 "("
            TYPE_BOOL@25..29
              BoolKeyword@25..29 "Bool"
            Comma@29..30 ","
            Whitespace@30..31 " "
            TYPE_BOOL@31..35
              BoolKeyword@31..35 "Bool"
            RParen@35..36 ")"
        Comma@36..37 ","
        Whitespace@37..38 " "
      PARAM@38..53
        Lident@38..39 "y"
        Colon@39..40 ":"
        Whitespace@40..41 " "
        TYPE_TUPLE@41..53
          TYPE_LIST@41..53
            LParen@41..42 "("
            TYPE_BOOL@42..46
              BoolKeyword@42..46 "Bool"
            Comma@46..47 ","
            Whitespace@47..48 " "
            TYPE_BOOL@48..52
              BoolKeyword@48..52 "Bool"
            RParen@52..53 ")"
      RParen@53..54 ")"
      Whitespace@54..55 " "
    BLOCK@55..308
      LBrace@55..56 "{"
      Whitespace@56..59 "\n  "
      EXPR_MATCH@59..303
        MatchKeyword@59..64 "match"
        Whitespace@64..65 " "
        EXPR_LIDENT@65..67
          Lident@65..66 "x"
          Whitespace@66..67 " "
        MATCH_ARM_LIST@67..303
          LBrace@67..68 "{"
          Whitespace@68..73 "\n    "
          MATCH_ARM@73..188
            PATTERN_TUPLE@73..87
              LParen@73..74 "("
              PATTERN_BOOL@74..78
                TrueKeyword@74..78 "true"
              Comma@78..79 ","
              Whitespace@79..80 " "
              PATTERN_BOOL@80..85
                FalseKeyword@80..85 "false"
              RParen@85..86 ")"
              Whitespace@86..87 " "
            FatArrow@87..89 "=>"
            Whitespace@89..97 " \n      "
            EXPR_MATCH@97..188
              MatchKeyword@97..102 "match"
              Whitespace@102..103 " "
              EXPR_LIDENT@103..105
                Lident@103..104 "y"
                Whitespace@104..105 " "
              MATCH_ARM_LIST@105..188
                LBrace@105..106 "{"
                Whitespace@106..115 "\n        "
                MATCH_ARM@115..148
                  PATTERN_TUPLE@115..129
                    LParen@115..116 "("
                    PATTERN_BOOL@116..121
                      FalseKeyword@116..121 "false"
                    Comma@121..122 ","
                    Whitespace@122..123 " "
                    PATTERN_BOOL@123..127
                      TrueKeyword@123..127 "true"
                    RParen@127..128 ")"
                    Whitespace@128..129 " "
                  FatArrow@129..131 "=>"
                  Whitespace@131..132 " "
                  EXPR_CALL@132..148
                    EXPR_LIDENT@132..139
                      Lident@132..139 "println"
                    ARG_LIST@139..148
                      LParen@139..140 "("
                      ARG@140..147
                        EXPR_STR@140..147
                          Str@140..147 "\"case1\""
                      RParen@147..148 ")"
                Comma@148..149 ","
                Whitespace@149..158 "\n        "
                MATCH_ARM@158..179
                  PATTERN_WILDCARD@158..160
                    WildcardKeyword@158..159 "_"
                    Whitespace@159..160 " "
                  FatArrow@160..162 "=>"
                  Whitespace@162..163 " "
                  EXPR_CALL@163..179
                    EXPR_LIDENT@163..170
                      Lident@163..170 "println"
                    ARG_LIST@170..179
                      LParen@170..171 "("
                      ARG@171..178
                        EXPR_STR@171..178
                          Str@171..178 "\"case2\""
                      RParen@178..179 ")"
                Comma@179..180 ","
                Whitespace@180..187 "\n      "
                RBrace@187..188 "}"
          Comma@188..189 ","
          Whitespace@189..194 "\n    "
          MATCH_ARM@194..297
            PATTERN_WILDCARD@194..196
              WildcardKeyword@194..195 "_"
              Whitespace@195..196 " "
            FatArrow@196..198 "=>"
            Whitespace@198..206 " \n      "
            EXPR_MATCH@206..297
              MatchKeyword@206..211 "match"
              Whitespace@211..212 " "
              EXPR_LIDENT@212..214
                Lident@212..213 "y"
                Whitespace@213..214 " "
              MATCH_ARM_LIST@214..297
                LBrace@214..215 "{"
                Whitespace@215..224 "\n        "
                MATCH_ARM@224..257
                  PATTERN_TUPLE@224..238
                    LParen@224..225 "("
                    PATTERN_BOOL@225..230
                      FalseKeyword@225..230 "false"
                    Comma@230..231 ","
                    Whitespace@231..232 " "
                    PATTERN_BOOL@232..236
                      TrueKeyword@232..236 "true"
                    RParen@236..237 ")"
                    Whitespace@237..238 " "
                  FatArrow@238..240 "=>"
                  Whitespace@240..241 " "
                  EXPR_CALL@241..257
                    EXPR_LIDENT@241..248
                      Lident@241..248 "println"
                    ARG_LIST@248..257
                      LParen@248..249 "("
                      ARG@249..256
                        EXPR_STR@249..256
                          Str@249..256 "\"case3\""
                      RParen@256..257 ")"
                Comma@257..258 ","
                Whitespace@258..267 "\n        "
                MATCH_ARM@267..288
                  PATTERN_WILDCARD@267..269
                    WildcardKeyword@267..268 "_"
                    Whitespace@268..269 " "
                  FatArrow@269..271 "=>"
                  Whitespace@271..272 " "
                  EXPR_CALL@272..288
                    EXPR_LIDENT@272..279
                      Lident@272..279 "println"
                    ARG_LIST@279..288
                      LParen@279..280 "("
                      ARG@280..287
                        EXPR_STR@280..287
                          Str@280..287 "\"case4\""
                      RParen@287..288 ")"
                Comma@288..289 ","
                Whitespace@289..296 "\n      "
                RBrace@296..297 "}"
          Comma@297..298 ","
          Whitespace@298..301 "\n  "
          RBrace@301..302 "}"
          Whitespace@302..303 "\n"
      RBrace@303..304 "}"
      Whitespace@304..308 "\n\n\n\n"
  FN@308..571
    FnKeyword@308..310 "fn"
    Whitespace@310..311 " "
    Lident@311..315 "main"
    PARAM_LIST@315..318
      LParen@315..316 "("
      RParen@316..317 ")"
      Whitespace@317..318 " "
    BLOCK@318..571
      LBrace@318..319 "{"
      Whitespace@319..322 "\n  "
      EXPR_LET@322..569
        LetKeyword@322..325 "let"
        Whitespace@325..326 " "
        PATTERN_WILDCARD@326..328
          WildcardKeyword@326..327 "_"
          Whitespace@327..328 " "
        Eq@328..329 "="
        Whitespace@329..330 " "
        EXPR_LET_VALUE@330..378
          EXPR_CALL@330..378
            EXPR_LIDENT@330..347
              Lident@330..347 "test_nested_match"
            ARG_LIST@347..378
              LParen@347..348 "("
              ARG@348..363
                EXPR_TUPLE@348..361
                  LParen@348..349 "("
                  EXPR_BOOL@349..353
                    TrueKeyword@349..353 "true"
                  Comma@353..354 ","
                  Whitespace@354..355 " "
                  EXPR_BOOL@355..360
                    FalseKeyword@355..360 "false"
                  RParen@360..361 ")"
                Comma@361..362 ","
                Whitespace@362..363 " "
              ARG@363..376
                EXPR_TUPLE@363..376
                  LParen@363..364 "("
                  EXPR_BOOL@364..369
                    FalseKeyword@364..369 "false"
                  Comma@369..370 ","
                  Whitespace@370..371 " "
                  EXPR_BOOL@371..375
                    TrueKeyword@371..375 "true"
                  RParen@375..376 ")"
              RParen@376..377 ")"
              Whitespace@377..378 " "
        InKeyword@378..380 "in"
        Whitespace@380..383 "\n  "
        EXPR_LET_BODY@383..569
          EXPR_LET@383..569
            LetKeyword@383..386 "let"
            Whitespace@386..387 " "
            PATTERN_WILDCARD@387..389
              WildcardKeyword@387..388 "_"
              Whitespace@388..389 " "
            Eq@389..390 "="
            Whitespace@390..391 " "
            EXPR_LET_VALUE@391..439
              EXPR_CALL@391..439
                EXPR_LIDENT@391..408
                  Lident@391..408 "test_nested_match"
                ARG_LIST@408..439
                  LParen@408..409 "("
                  ARG@409..424
                    EXPR_TUPLE@409..422
                      LParen@409..410 "("
                      EXPR_BOOL@410..414
                        TrueKeyword@410..414 "true"
                      Comma@414..415 ","
                      Whitespace@415..416 " "
                      EXPR_BOOL@416..421
                        FalseKeyword@416..421 "false"
                      RParen@421..422 ")"
                    Comma@422..423 ","
                    Whitespace@423..424 " "
                  ARG@424..437
                    EXPR_TUPLE@424..437
                      LParen@424..425 "("
                      EXPR_BOOL@425..429
                        TrueKeyword@425..429 "true"
                      Comma@429..430 ","
                      Whitespace@430..431 " "
                      EXPR_BOOL@431..436
                        FalseKeyword@431..436 "false"
                      RParen@436..437 ")"
                  RParen@437..438 ")"
                  Whitespace@438..439 " "
            InKeyword@439..441 "in"
            Whitespace@441..444 "\n  "
            EXPR_LET_BODY@444..569
              EXPR_LET@444..569
                LetKeyword@444..447 "let"
                Whitespace@447..448 " "
                PATTERN_WILDCARD@448..450
                  WildcardKeyword@448..449 "_"
                  Whitespace@449..450 " "
                Eq@450..451 "="
                Whitespace@451..452 " "
                EXPR_LET_VALUE@452..500
                  EXPR_CALL@452..500
                    EXPR_LIDENT@452..469
                      Lident@452..469 "test_nested_match"
                    ARG_LIST@469..500
                      LParen@469..470 "("
                      ARG@470..485
                        EXPR_TUPLE@470..483
                          LParen@470..471 "("
                          EXPR_BOOL@471..476
                            FalseKeyword@471..476 "false"
                          Comma@476..477 ","
                          Whitespace@477..478 " "
                          EXPR_BOOL@478..482
                            TrueKeyword@478..482 "true"
                          RParen@482..483 ")"
                        Comma@483..484 ","
                        Whitespace@484..485 " "
                      ARG@485..498
                        EXPR_TUPLE@485..498
                          LParen@485..486 "("
                          EXPR_BOOL@486..491
                            FalseKeyword@486..491 "false"
                          Comma@491..492 ","
                          Whitespace@492..493 " "
                          EXPR_BOOL@493..497
                            TrueKeyword@493..497 "true"
                          RParen@497..498 ")"
                      RParen@498..499 ")"
                      Whitespace@499..500 " "
                InKeyword@500..502 "in"
                Whitespace@502..505 "\n  "
                EXPR_LET_BODY@505..569
                  EXPR_LET@505..569
                    LetKeyword@505..508 "let"
                    Whitespace@508..509 " "
                    PATTERN_WILDCARD@509..511
                      WildcardKeyword@509..510 "_"
                      Whitespace@510..511 " "
                    Eq@511..512 "="
                    Whitespace@512..513 " "
                    EXPR_LET_VALUE@513..561
                      EXPR_CALL@513..561
                        EXPR_LIDENT@513..530
                          Lident@513..530 "test_nested_match"
                        ARG_LIST@530..561
                          LParen@530..531 "("
                          ARG@531..546
                            EXPR_TUPLE@531..544
                              LParen@531..532 "("
                              EXPR_BOOL@532..537
                                FalseKeyword@532..537 "false"
                              Comma@537..538 ","
                              Whitespace@538..539 " "
                              EXPR_BOOL@539..543
                                TrueKeyword@539..543 "true"
                              RParen@543..544 ")"
                            Comma@544..545 ","
                            Whitespace@545..546 " "
                          ARG@546..559
                            EXPR_TUPLE@546..559
                              LParen@546..547 "("
                              EXPR_BOOL@547..551
                                TrueKeyword@547..551 "true"
                              Comma@551..552 ","
                              Whitespace@552..553 " "
                              EXPR_BOOL@553..558
                                FalseKeyword@553..558 "false"
                              RParen@558..559 ")"
                          RParen@559..560 ")"
                          Whitespace@560..561 " "
                    InKeyword@561..563 "in"
                    Whitespace@563..566 "\n  "
                    EXPR_LET_BODY@566..569
                      EXPR_UNIT@566..569
                        LParen@566..567 "("
                        RParen@567..568 ")"
                        Whitespace@568..569 "\n"
      RBrace@569..570 "}"
      Whitespace@570..571 "\n"