FILE@0..550
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Uident@6..14 "ToString"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    TRAIT_METHOD_SIG_LIST@21..54
      TRAIT_METHOD_SIG@21..49
        FnKeyword@21..23 "fn"
        Whitespace@23..24 " "
        Lident@24..33 "to_string"
        TYPE_LIST@33..40
          LParen@33..34 "("
          TYPE_TAPP@34..38
            Uident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "String"
      Semi@49..50 ";"
      Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  IMPL@54..155
    ImplKeyword@54..58 "impl"
    Whitespace@58..59 " "
    Uident@59..67 "ToString"
    Whitespace@67..68 " "
    ForKeyword@68..71 "for"
    Whitespace@71..72 " "
    TYPE_INT@72..76
      IntKeyword@72..75 "Int"
      Whitespace@75..76 " "
    LBrace@76..77 "{"
    Whitespace@77..82 "\n    "
    FN@82..152
      FnKeyword@82..84 "fn"
      Whitespace@84..85 " "
      Lident@85..94 "to_string"
      PARAM_LIST@94..106
        LParen@94..95 "("
        PARAM@95..104
          Lident@95..99 "self"
          Colon@99..100 ":"
          Whitespace@100..101 " "
          TYPE_INT@101..104
            IntKeyword@101..104 "Int"
        RParen@104..105 ")"
        Whitespace@105..106 " "
      Arrow@106..108 "->"
      Whitespace@108..109 " "
      TYPE_STRING@109..116
        StringKeyword@109..115 "String"
        Whitespace@115..116 " "
      BLOCK@116..152
        LBrace@116..117 "{"
        Whitespace@117..126 "\n        "
        EXPR_CALL@126..150
          EXPR_LIDENT@126..139
            Lident@126..139 "int_to_string"
          ARG_LIST@139..150
            LParen@139..140 "("
            ARG@140..144
              EXPR_LIDENT@140..144
                Lident@140..144 "self"
            RParen@144..145 ")"
            Whitespace@145..150 "\n    "
        RBrace@150..151 "}"
        Whitespace@151..152 "\n"
    RBrace@152..153 "}"
    Whitespace@153..155 "\n\n"
  IMPL@155..260
    ImplKeyword@155..159 "impl"
    Whitespace@159..160 " "
    Uident@160..168 "ToString"
    Whitespace@168..169 " "
    ForKeyword@169..172 "for"
    Whitespace@172..173 " "
    TYPE_BOOL@173..179
      BoolKeyword@173..177 "Bool"
      Whitespace@177..179 "  "
    LBrace@179..180 "{"
    Whitespace@180..185 "\n    "
    FN@185..257
      FnKeyword@185..187 "fn"
      Whitespace@187..188 " "
      Lident@188..197 "to_string"
      PARAM_LIST@197..210
        LParen@197..198 "("
        PARAM@198..208
          Lident@198..202 "self"
          Colon@202..203 ":"
          Whitespace@203..204 " "
          TYPE_BOOL@204..208
            BoolKeyword@204..208 "Bool"
        RParen@208..209 ")"
        Whitespace@209..210 " "
      Arrow@210..212 "->"
      Whitespace@212..213 " "
      TYPE_STRING@213..220
        StringKeyword@213..219 "String"
        Whitespace@219..220 " "
      BLOCK@220..257
        LBrace@220..221 "{"
        Whitespace@221..230 "\n        "
        EXPR_CALL@230..255
          EXPR_LIDENT@230..244
            Lident@230..244 "bool_to_string"
          ARG_LIST@244..255
            LParen@244..245 "("
            ARG@245..249
              EXPR_LIDENT@245..249
                Lident@245..249 "self"
            RParen@249..250 ")"
            Whitespace@250..255 "\n    "
        RBrace@255..256 "}"
        Whitespace@256..257 "\n"
    RBrace@257..258 "}"
    Whitespace@258..260 "\n\n"
  IMPL@260..356
    ImplKeyword@260..264 "impl"
    Whitespace@264..265 " "
    Uident@265..273 "ToString"
    Whitespace@273..274 " "
    ForKeyword@274..277 "for"
    Whitespace@277..278 " "
    TYPE_TUPLE@278..289
      TYPE_LIST@278..289
        LParen@278..279 "("
        TYPE_INT@279..282
          IntKeyword@279..282 "Int"
        Comma@282..283 ","
        Whitespace@283..284 " "
        TYPE_INT@284..287
          IntKeyword@284..287 "Int"
        RParen@287..288 ")"
        Whitespace@288..289 " "
    LBrace@289..290 "{"
    Whitespace@290..293 "\n  "
    FN@293..353
      FnKeyword@293..295 "fn"
      Whitespace@295..296 " "
      Lident@296..305 "to_string"
      PARAM_LIST@305..324
        LParen@305..306 "("
        PARAM@306..322
          Lident@306..310 "self"
          Colon@310..311 ":"
          Whitespace@311..312 " "
          TYPE_TUPLE@312..322
            TYPE_LIST@312..322
              LParen@312..313 "("
              TYPE_INT@313..316
                IntKeyword@313..316 "Int"
              Comma@316..317 ","
              Whitespace@317..318 " "
              TYPE_INT@318..321
                IntKeyword@318..321 "Int"
              RParen@321..322 ")"
        RParen@322..323 ")"
        Whitespace@323..324 " "
      Arrow@324..326 "->"
      Whitespace@326..327 " "
      TYPE_STRING@327..334
        StringKeyword@327..333 "String"
        Whitespace@333..334 " "
      BLOCK@334..353
        LBrace@334..335 "{"
        Whitespace@335..340 "\n    "
        EXPR_STR@340..351
          Str@340..348 "\"(?, ?)\""
          Whitespace@348..351 "\n  "
        RBrace@351..352 "}"
        Whitespace@352..353 "\n"
    RBrace@353..354 "}"
    Whitespace@354..356 "\n\n"
  FN@356..550
    FnKeyword@356..358 "fn"
    Whitespace@358..359 " "
    Lident@359..363 "main"
    PARAM_LIST@363..366
      LParen@363..364 "("
      RParen@364..365 ")"
      Whitespace@365..366 " "
    BLOCK@366..550
      LBrace@366..367 "{"
      Whitespace@367..372 "\n    "
      EXPR_LET@372..548
        LetKeyword@372..375 "let"
        Whitespace@375..376 " "
        PATTERN_VARIABLE@376..378
          Lident@376..377 "x"
          Whitespace@377..378 " "
        Eq@378..379 "="
        Whitespace@379..380 " "
        EXPR_LET_VALUE@380..384
          EXPR_INT@380..384
            Int@380..383 "123"
            Whitespace@383..384 " "
        InKeyword@384..386 "in"
        Whitespace@386..391 "\n    "
        EXPR_LET_BODY@391..548
          EXPR_LET@391..548
            LetKeyword@391..394 "let"
            Whitespace@394..395 " "
            PATTERN_WILDCARD@395..397
              WildcardKeyword@395..396 "_"
              Whitespace@396..397 " "
            EXPR_LET_VALUE@397..419
              EXPR_CALL@397..419
                EXPR_LIDENT@397..404
                  Lident@397..404 "println"
                ARG_LIST@404..419
                  LParen@404..405 "("
                  ARG@405..417
                    EXPR_CALL@405..417
                      EXPR_LIDENT@405..414
                        Lident@405..414 "to_string"
                      ARG_LIST@414..417
                        LParen@414..415 "("
                        ARG@415..416
                          EXPR_LIDENT@415..416
                            Lident@415..416 "x"
                        RParen@416..417 ")"
                  RParen@417..418 ")"
                  Whitespace@418..419 " "
            InKeyword@419..421 "in"
            Whitespace@421..427 "\n\n    "
            EXPR_LET_BODY@427..548
              EXPR_LET@427..548
                LetKeyword@427..430 "let"
                Whitespace@430..431 " "
                PATTERN_VARIABLE@431..433
                  Lident@431..432 "x"
                  Whitespace@432..433 " "
                Eq@433..434 "="
                Whitespace@434..435 " "
                EXPR_LET_VALUE@435..440
                  EXPR_BOOL@435..440
                    TrueKeyword@435..439 "true"
                    Whitespace@439..440 " "
                InKeyword@440..442 "in"
                Whitespace@442..447 "\n    "
                EXPR_LET_BODY@447..548
                  EXPR_LET@447..548
                    LetKeyword@447..450 "let"
                    Whitespace@450..451 " "
                    PATTERN_WILDCARD@451..453
                      WildcardKeyword@451..452 "_"
                      Whitespace@452..453 " "
                    Eq@453..454 "="
                    Whitespace@454..455 " "
                    EXPR_LET_VALUE@455..477
                      EXPR_CALL@455..477
                        EXPR_LIDENT@455..462
                          Lident@455..462 "println"
                        ARG_LIST@462..477
                          LParen@462..463 "("
                          ARG@463..475
                            EXPR_CALL@463..475
                              EXPR_LIDENT@463..472
                                Lident@463..472 "to_string"
                              ARG_LIST@472..475
                                LParen@472..473 "("
                                ARG@473..474
                                  EXPR_LIDENT@473..474
                                    Lident@473..474 "x"
                                RParen@474..475 ")"
                          RParen@475..476 ")"
                          Whitespace@476..477 " "
                    InKeyword@477..479 "in"
                    Whitespace@479..485 "\n\n    "
                    EXPR_LET_BODY@485..548
                      EXPR_LET@485..548
                        LetKeyword@485..488 "let"
                        Whitespace@488..489 " "
                        PATTERN_VARIABLE@489..491
                          Lident@489..490 "x"
                          Whitespace@490..491 " "
                        Eq@491..492 "="
                        Whitespace@492..493 " "
                        EXPR_LET_VALUE@493..500
                          EXPR_TUPLE@493..500
                            LParen@493..494 "("
                            EXPR_INT@494..495
                              Int@494..495 "3"
                            Comma@495..496 ","
                            Whitespace@496..497 " "
                            EXPR_INT@497..498
                              Int@497..498 "4"
                            RParen@498..499 ")"
                            Whitespace@499..500 " "
                        InKeyword@500..502 "in"
                        Whitespace@502..507 "\n    "
                        EXPR_LET_BODY@507..548
                          EXPR_LET@507..548
                            LetKeyword@507..510 "let"
                            Whitespace@510..511 " "
                            PATTERN_WILDCARD@511..513
                              WildcardKeyword@511..512 "_"
                              Whitespace@512..513 " "
                            Eq@513..514 "="
                            Whitespace@514..515 " "
                            EXPR_LET_VALUE@515..537
                              EXPR_CALL@515..537
                                EXPR_LIDENT@515..522
                                  Lident@515..522 "println"
                                ARG_LIST@522..537
                                  LParen@522..523 "("
                                  ARG@523..535
                                    EXPR_CALL@523..535
                                      EXPR_LIDENT@523..532
                                        Lident@523..532 "to_string"
                                      ARG_LIST@532..535
                                        LParen@532..533 "("
                                        ARG@533..534
                                          EXPR_LIDENT@533..534
                                            Lident@533..534 "x"
                                        RParen@534..535 ")"
                                  RParen@535..536 ")"
                                  Whitespace@536..537 " "
                            InKeyword@537..539 "in"
                            Whitespace@539..545 "\n\n    "
                            EXPR_LET_BODY@545..548
                              EXPR_UNIT@545..548
                                LParen@545..546 "("
                                RParen@546..547 ")"
                                Whitespace@547..548 "\n"
      RBrace@548..549 "}"
      Whitespace@549..550 "\n"